Repository MicrosoftDocs/entra-docs, pull requests merged in 2023-12, with the labels that each got.

#18 Fix typo in v2-oauth2-client-creds-grant-flow.md
  docs/identity-platform/v2-oauth2-client-creds-grant-flow.md
Labels: aq-pr-triaged

#41 Update groups-dynamic-rule-more-efficient.md
  docs/identity/users/groups-dynamic-rule-more-efficient.md
Labels: active-directory/svc, do-not-merge, Change sent to author, enterprise-users/subsvc

#43 Update groups-dynamic-membership.md
  docs/identity/users/groups-dynamic-membership.md
Labels: active-directory/svc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, enterprise-users/subsvc

#42 Update groups-dynamic-membership.md
  docs/identity/users/groups-dynamic-membership.md
Labels: active-directory/svc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, enterprise-users/subsvc

#59 Minor spelling correction
  docs/identity/hybrid/configure.md
Labels: active-directory/svc, hybrid/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author

#98 Update msal-net-use-brokers-with-xamarin-apps.md
  docs/identity-platform/msal-net-use-brokers-with-xamarin-apps.md
Labels: aq-pr-triaged, active-directory/svc, develop/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author

#107 Update licensing-service-plan-reference.md - STREAM
  docs/identity/users/licensing-service-plan-reference.md
Labels: aq-pr-triaged, active-directory/svc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, enterprise-users/subsvc
