Repository MicrosoftDocs/entra-docs, pull requests merged in 2024-01, with the labels that each got.

#96 Minor update to concept-microsoft-entra-health.md
  docs/identity/monitoring-health/concept-microsoft-entra-health.md
Labels: aq-pr-triaged, active-directory/svc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, report-monitor/subsvc

#32 Update groups-create-rule.md
  docs/identity/users/groups-create-rule.md
Labels: aq-pr-triaged, active-directory/svc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, enterprise-users/subsvc

#155 Update reference-connect-version-history.md
  docs/identity/hybrid/connect/reference-connect-version-history.md
Labels: active-directory/svc, hybrid/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author

#44 Update permissions-reference.md
  docs/identity/role-based-access-control/permissions-reference.md
Labels: aq-pr-triaged, active-directory/svc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, roles/subsvc

#159 Update concept-understand-roles.md
  docs/identity/role-based-access-control/concept-understand-roles.md
Labels: aq-pr-triaged, active-directory/svc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, roles/subsvc

#164 Update delegate-app-roles.md
  docs/identity/role-based-access-control/delegate-app-roles.md
Labels: active-directory/svc, do-not-merge, qualifies-for-auto-merge, Change sent to author, roles/subsvc

#145 Update howto-conditional-access-policy-block-legacy.md
  docs/identity/conditional-access/howto-conditional-access-policy-block-legacy.md
Labels: aq-pr-triaged, active-directory/svc, conditional-access/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author

#174 Typo in bgpAddress
  docs/global-secure-access/how-to-configure-customer-premises-equipment.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, network-access/svc

#177 Minor changes in GSA
  docs/global-secure-access/how-to-install-windows-client.md
  docs/global-secure-access/media/how-to-install-windows-client/client-download-screen.png
  docs/global-secure-access/media/how-to-install-windows-client/client-install-menu-options.png
  docs/global-secure-access/reference-web-content-filtering-categories.md
Labels: aq-pr-triaged, needs-human-review, ready-to-merge, Change sent to author, network-access/svc

#63 Update myapps-overview.md
  docs/identity/enterprise-apps/myapps-overview.md
Labels: aq-pr-triaged, active-directory/svc, do-not-merge, qualifies-for-auto-merge, Change sent to author, app-mgmt/subsvc

#62 Update configure-password-single-sign-on-non-gallery-applications.md
  docs/identity/enterprise-apps/configure-password-single-sign-on-non-gallery-applications.md
Labels: aq-pr-triaged, active-directory/svc, do-not-merge, qualifies-for-auto-merge, Change sent to author, app-mgmt/subsvc

#198 Updated images
  docs/fundamentals/media/five-steps-to-full-application-integration/integration-1.png
  docs/fundamentals/media/five-steps-to-full-application-integration/integration-2.png
  docs/fundamentals/media/five-steps-to-full-application-integration/integration-3.png
Labels: aq-pr-triaged, active-directory/svc, fundamentals/subsvc, do-not-merge, needs-human-review, Change sent to author

#207 Update Small Improvements images and descriptions
  docs/identity/saas-apps/media/smallimprovements-tutorial/add-user.png
  docs/identity/saas-apps/media/smallimprovements-tutorial/admin-settings.png
  docs/identity/saas-apps/media/smallimprovements-tutorial/admin.png
  docs/identity/saas-apps/media/smallimprovements-tutorial/certificate.png
  docs/identity/saas-apps/media/smallimprovements-tutorial/create-user.png
  docs/identity/saas-apps/media/smallimprovements-tutorial/menu.png
  docs/identity/saas-apps/media/smallimprovements-tutorial/user.png
  docs/identity/saas-apps/smallimprovements-tutorial.md
Labels: aq-pr-triaged, active-directory/svc, saas-app-tutorial/subsvc, needs-human-review, ready-to-merge, Change sent to author

#214 Elaborate an unsupported scenario
  docs/identity/devices/device-join-plan.md
Labels: aq-pr-triaged, active-directory/svc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, devices/subsvc

#208 Update troubleshoot-publisher-verification.md
  docs/identity-platform/troubleshoot-publisher-verification.md
Labels: aq-pr-triaged, active-directory/svc, develop/subsvc, ready-to-merge, Change sent to author

#170 Fixing role description
  docs/architecture/security-operations-privileged-identity-management.md
Labels: aq-pr-triaged, active-directory/svc, fundamentals/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author

#83 Update google-federation.md link and text
  docs/external-id/google-federation.md
Labels: aq-pr-triaged, active-directory/svc, do-not-merge, Change sent to author, b2b/subsvc

#239 Remove <br> tag
  docs/identity/app-provisioning/sap-successfactors-integration-reference.md
Labels: aq-pr-triaged, active-directory/svc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, app-provisioning/subsvc

#4 Add code markers around powershell cmdlets and fix some of them
  docs/identity/hybrid/connect/how-to-connect-fed-o365-certs.md
Labels: aq-pr-triaged, active-directory/svc, hybrid/subsvc, ready-to-merge, Change sent to author

#5 Fix formatting
  docs/identity/hybrid/connect/how-to-connect-emergency-ad-fs-certificate-rotation.md
Labels: aq-pr-triaged, active-directory/svc, hybrid/subsvc, ready-to-merge, Change sent to author

#94 Update app-provisioning-sql.md
  docs/includes/app-provisioning-sql.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author

#130 Update how-to-connect-password-hash-synchronization.md
  docs/identity/hybrid/connect/how-to-connect-password-hash-synchronization.md
Labels: aq-pr-triaged, active-directory/svc, hybrid/subsvc, ready-to-merge, Change sent to author

#172 Standarsiation of formatting in tables
  docs/identity/hybrid/cloud-sync/how-to-prerequisites.md
Labels: aq-pr-triaged, active-directory/svc, hybrid/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author

#245 Title shows up with ticks in search engine
  docs/identity/managed-identities-azure-resources/tutorial-linux-vm-access-storage.md
Labels: do-not-merge, qualifies-for-auto-merge, review-team-triage

#187 Rename "Azure" to "Microsoft Entra ID" where "Azure" was wrongly used as short for "Azure AD"
  docs/identity/hybrid/connect/plan-connect-design-concepts.md
Labels: aq-pr-triaged, active-directory/svc, hybrid/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author

#280 Update manage-dns.md
  docs/identity/domain-services/manage-dns.md
Labels: active-directory/svc, do-not-merge, qualifies-for-auto-merge, Change sent to author, domain-services/subsvc

#276 Update v2-oauth-ropc.md
  docs/identity-platform/v2-oauth-ropc.md
Labels: active-directory/svc, develop/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author

#270 Stephanie kno2 ssov2 documentation update
  docs/identity/saas-apps/kno2fy-tutorial.md
  docs/identity/saas-apps/media/kno2fy-tutorial/microsoft-entra-setup-data.png
Labels: aq-pr-triaged, active-directory/svc, saas-app-tutorial/subsvc, do-not-merge, Change sent to author

#282 Authentication Strength limitations for Email OTP accounts
  docs/external-id/one-time-passcode.md
Labels: aq-pr-triaged, active-directory/svc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, b2b/subsvc
