Repository MicrosoftDocs/entra-docs, pull requests merged in 2024-08, with the labels that each got.

#1068 Update how-to-configure-connectors.md
  docs/global-secure-access/how-to-configure-connectors.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, global-secure-access/svc, entra-private-access/subsvc

#1078 Fixed grammar issue
  docs/identity/hybrid/connect/parallel-hybrid-migration.md
Labels: triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id-governance/svc

#971 Update businessmap-tutorial.md
  docs/identity/saas-apps/businessmap-tutorial.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1082 Update how-to-policy-mfa-admin-portals.md
  docs/identity/conditional-access/how-to-policy-mfa-admin-portals.md
Labels: aq-pr-triaged, conditional-access/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc

#1084 Update terms-of-use.md
  docs/identity/conditional-access/terms-of-use.md
Labels: conditional-access/subsvc, needs-human-review, ready-to-merge, Change sent to author, entra-id/svc

#1079 Update documentation for custom extensions
  docs/identity-platform/custom-claims-provider-reference.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, identity-platform/svc

#1080 Update troubleshoot-saml-based-sso.md
  docs/identity/enterprise-apps/troubleshoot-saml-based-sso.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, enterprise-apps/subsvc

#143 Update manage-application-permissions.md
  docs/identity/enterprise-apps/manage-application-permissions.md
Labels: aq-pr-triaged, active-directory/svc, do-not-merge, qualifies-for-auto-merge, Change sent to author, app-mgmt/subsvc

#1067 Update how-to-configure-sso-with-kcd.md
  docs/identity/app-proxy/how-to-configure-sso-with-kcd.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, app-proxy/subsvc, entra-id/svc

#1100 Fix broken managed identity links
  docs/identity/managed-identities-azure-resources/index.yml
Labels: aq-pr-triaged, do-not-merge, needs-human-review, Change sent to author, entra-id/svc, managed-identities/subsvc

#1105 Update licensing-service-plan-reference2.0.md
  docs/identity/users/licensing-service-plan-reference.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, users/subsvc

#1099 Update how-to-multifactor-authentication-customers.md
  docs/external-id/customers/concept-multifactor-authentication-customers.md
  docs/external-id/customers/how-to-multifactor-authentication-customers.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-external-id/svc, customers/subsvc

#1108 Update workbook-mfa-gaps.md
  docs/identity/monitoring-health/workbook-mfa-gaps.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, monitoring-health/subsvc

#1091 Update certificate-credentials.md - do not advertise unsecure hash and signing algorithms
  docs/identity-platform/certificate-credentials.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, identity-platform/svc

#1056 Update how-to-connect-staged-rollout.md
  docs/identity/hybrid/connect/how-to-connect-staged-rollout.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc
