Repository MicrosoftDocs/entra-docs, pull requests merged in 2024-09, with the labels that each got.

#1114 fix for additinal easyauth settings
  docs/identity-platform/custom-extension-tokenissuancestart-configuration.md
  docs/identity-platform/media/custom-extension-tokenissuancestart-configuration/add-identity-provider-auth-function-app-customer.png
  docs/identity-platform/media/custom-extension-tokenissuancestart-configuration/add-identity-provider-auth-function-app-workforce.png
Labels: aq-pr-triaged, do-not-merge, needs-human-review, Change sent to author, identity-platform/svc

#1112 Fix Connect Health agent min versions
  docs/identity/hybrid/connect/security-updates-pks.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#1125 Update how-to-configure-kerberos-sso.md
  docs/global-secure-access/how-to-configure-kerberos-sso.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, global-secure-access/svc, entra-private-access/subsvc

#1123 Update hide-application-from-user-portal.md
  docs/identity/enterprise-apps/hide-application-from-user-portal.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, enterprise-apps/subsvc

#1124 Update supported-accounts-validation.md
  docs/identity-platform/supported-accounts-validation.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, identity-platform/svc

#1120 Update inbound-provisioning-api-configure-app.md
  docs/identity/app-provisioning/inbound-provisioning-api-configure-app.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, app-provisioning/subsvc, entra-id/svc

#1060 Update UAMI recommendation and paramaters
  docs/identity/managed-identities-azure-resources/how-to-assign-managed-identity-via-azure-policy.md
Labels: aq-pr-triaged, needs-human-review, ready-to-merge, Change sent to author, entra-id/svc, managed-identities/subsvc

#925 Update user-properties.md
  docs/external-id/user-properties.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-external-id/svc

#1131 Update licensing-service-plan-reference.md
  docs/identity/users/licensing-service-plan-reference.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, users/subsvc

#1133 Update admin-units-faq-troubleshoot.yml
  docs/identity/role-based-access-control/admin-units-faq-troubleshoot.yml
Labels: aq-pr-triaged, needs-human-review, ready-to-merge, Change sent to author, entra-id/svc, role-based-access-control/subsvc

#1130 Update azure-active-directory-graph-app-manifest-deprecation.md
  docs/identity-platform/azure-active-directory-graph-app-manifest-deprecation.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, identity-platform/svc

#1141 Update Native authentication Concept
  docs/external-id/customers/concept-native-authentication.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-external-id/svc, customers/subsvc

#1096 Update howto-mfa-nps-extension.md
  docs/identity/authentication/howto-mfa-nps-extension.md
Labels: aq-pr-triaged, authentication/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc

#1119 Reduce customer confusion around what roles can update device settings
  docs/identity/devices/manage-device-identities.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, devices/subsvc, entra-id/svc

#1142 Update howto-mfa-nps-extension.md
  docs/identity/authentication/howto-mfa-nps-extension.md
Labels: authentication/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc

#1136 Update msal-android-shared-devices.md
  docs/identity-platform/msal-android-shared-devices.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, msal/svc, msal-android/subsvc

#1145 Update licensing-governance.md
  docs/includes/licensing-governance.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc

#940 Remove -AuthorizationPolicyId which doesn't exist (anymore?)
  docs/identity/enterprise-apps/configure-user-consent.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, enterprise-apps/subsvc

#1148 Update managed-policies.md
  docs/identity/conditional-access/managed-policies.md
Labels: conditional-access/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc

#1147 Update concept-multifactor-authentication-customers.md
  docs/external-id/customers/concept-multifactor-authentication-customers.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-external-id/svc, customers/subsvc

#1151 Update in Know Limitation
  docs/identity/app-provisioning/how-provisioning-works.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, app-provisioning/subsvc, entra-id/svc

#1156 Update configure-user-consent.md
  docs/identity/enterprise-apps/configure-user-consent.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, enterprise-apps/subsvc

#1154 Update reply-url.md
  docs/identity-platform/reply-url.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, identity-platform/svc

#1161 Update entitlement-management-request-behalf.md
  docs/id-governance/entitlement-management-request-behalf.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id-governance/svc, entitlement-management/subsvc

#1160 Update what-are-lifecycle-workflows.md
  docs/id-governance/what-are-lifecycle-workflows.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id-governance/svc, lifecycle-workflows/subsvc

#989 Update concept-primary-refresh-token.md
  docs/identity/devices/concept-primary-refresh-token.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, devices/subsvc, entra-id/svc

#1103 Fix typo/wording for transitioning warning regarding supported apps
  docs/identity/conditional-access/migrate-approved-client-app.md
Labels: aq-pr-triaged, conditional-access/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc

#1139 Update default AllowRD rule
  docs/identity/domain-services/alert-nsg.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, domain-services/subsvc, entra-id/svc

#1121 Removed preview flag for authentication strength
  docs/identity/devices/howto-vm-sign-in-azure-ad-windows.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, devices/subsvc, entra-id/svc

#1038 Update security-defaults.md
  docs/fundamentals/security-defaults.md
Labels: aq-pr-triaged, fundamentals/subsvc, do-not-merge, Change sent to author, entra/svc
