Repository MicrosoftDocs/entra-docs, pull requests merged in 2024-04, with the labels that each got.

#580 Change python3 to python
  docs/identity-platform/quickstart-web-app-python-sign-in.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, identity-platform/svc

#597 Update concept-password-ban-bad.md
  docs/identity/authentication/concept-password-ban-bad.md
Labels: authentication/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc

#600 Update reference-audit-activities.md
  docs/identity/monitoring-health/reference-audit-activities.md
Labels: needs-human-review, ready-to-merge, Change sent to author, entra-id/svc, monitoring-health/subsvc

#601 Added Oracle HCM tutorial to API-driven concept
  docs/id-governance/apps.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id-governance/svc

#287 More precise description of the restriction of the "microsoft-application-admin" app consent policy
  docs/identity/role-based-access-control/permissions-reference.md
Labels: aq-pr-triaged, active-directory/svc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, roles/subsvc

#623 Update how-to-customize-branding-customers.md
  docs/external-id/customers/how-to-customize-branding-customers.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-external-id/svc, customers/subsvc

#636 Update copilot-security-entra.md
  docs/fundamentals/copilot-security-entra.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra/svc

#622 Entra Connect Health: updates for versions, ADDS, cmdlets, endpoints
  docs/identity/hybrid/connect/how-to-connect-health-adfs.md
  docs/identity/hybrid/connect/how-to-connect-health-agent-install.md
  docs/identity/hybrid/connect/media/how-to-connect-health-agent-install/aadconnect-health-adds-agent-install1.png
  docs/identity/hybrid/connect/media/how-to-connect-health-agent-install/aadconnect-health-adds-agent-install2.png
  docs/identity/hybrid/connect/media/how-to-connect-health-agent-install/aadconnect-health-adds-agent-install3.png
  docs/identity/hybrid/connect/media/how-to-connect-health-agent-install/aadconnect-health-adds-agent-install4.png
  docs/identity/hybrid/connect/media/how-to-connect-health-agent-install/install-1.png
  docs/identity/hybrid/connect/reference-connect-health-version-history.md
Labels: aq-pr-triaged, needs-human-review, ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#643 Removing date for non-interactive change
  docs/fundamentals/security-defaults.md
Labels: aq-pr-triaged, fundamentals/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra/svc

#659 Update governance-service-limits.md
  docs/id-governance/governance-service-limits.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id-governance/svc

#662 Fixed typo in howto-conditional-access-policy-all-users-mfa.md
  docs/identity/conditional-access/howto-conditional-access-policy-all-users-mfa.md
Labels: conditional-access/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc

#669 Update migrate-group-writeback.md
  docs/identity/hybrid/cloud-sync/migrate-group-writeback.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, hybrid-cloud-sync/subsvc

#673 Improve grammar
  docs/fundamentals/whatis.md
Labels: fundamentals/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra/svc

#453 Update concept-conditional-access-grant.md
  docs/identity/conditional-access/concept-conditional-access-grant.md
Labels: aq-pr-triaged, conditional-access/subsvc, do-not-merge, Change sent to author, entra-id/svc

#671 Update how-to-connect-password-hash-synchronization.md
  docs/identity/hybrid/connect/how-to-connect-password-hash-synchronization.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#678 "SecurityGroup" emits security groups and directory roles
  docs/identity-platform/access-token-claims-reference.md
  docs/identity-platform/reference-saml-tokens.md
  docs/identity/hybrid/connect/how-to-connect-fed-group-claims.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#604 Add ECS Experimentation Configuration Service url
  docs/identity-platform/apple-sso-plugin.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, identity-platform/svc

#722 Update users-default-permissions.md
  docs/fundamentals/users-default-permissions.md
Labels: fundamentals/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra/svc

#729 Remove duplicate rows
  docs/external-id/customers/concept-supported-features-customers.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-external-id/svc, customers/subsvc

#731 Update reference-audit-activities.md
  docs/identity/monitoring-health/reference-audit-activities.md
Labels: needs-human-review, ready-to-merge, Change sent to author, entra-id/svc, monitoring-health/subsvc
