Repository MicrosoftDocs/entra-docs, pull requests merged in 2024-07, with the labels that each got.

#961 Add Traxion SCIM Gateway partner integration
  docs/includes/application-integration-partners.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-id/svc

#970 Update overview-what-is-global-secure-access.md
  docs/global-secure-access/overview-what-is-global-secure-access.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, global-secure-access/svc

#975 Fixed spelling error
  docs/id-governance/entitlement-management-access-package-resources.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id-governance/svc, entitlement-management/subsvc

#973 Update managed-policies.md
  docs/identity/conditional-access/managed-policies.md
Labels: aq-pr-triaged, conditional-access/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc

#982 grammar error
  docs/id-governance/privileged-identity-management/pim-roles.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id-governance/svc, privileged-identity-management/subsvc

#994 Update howto-configure-diagnostic-settings.md
  docs/identity/monitoring-health/howto-configure-diagnostic-settings.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, monitoring-health/subsvc

#997 Update concept-sign-in-log-activity-details.md
  docs/identity/monitoring-health/concept-sign-in-log-activity-details.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, monitoring-health/subsvc

#985 Updating the script with a working version
  docs/identity-platform/jwt-claims-customization.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, identity-platform/svc

#998 Update concept-azure-ad-connect-sync-user-and-contacts.md
  docs/identity/hybrid/connect/concept-azure-ad-connect-sync-user-and-contacts.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#1000 Fix a few typos
  docs/architecture/security-operations-applications.md
  docs/identity/enterprise-apps/migrate-okta-sign-on-policies-conditional-access.md
  docs/identity/hybrid/cloud-sync/gmsa-cloud-sync.md
  docs/identity/hybrid/cloud-sync/migrate-group-writeback.md
  docs/identity/hybrid/connect/how-to-connect-password-hash-synchronization.md
  docs/identity/hybrid/connect/tutorial-federation.md
  docs/identity/saas-apps/cylanceprotect-tutorial.md
  docs/identity/saas-apps/github-provisioning-tutorial.md
  docs/identity/saas-apps/gtnexus-sso-module-tutorial.md
  docs/identity/saas-apps/helper-helper-tutorial.md
  docs/identity/saas-apps/linkedinelevate-tutorial.md
  docs/identity/saas-apps/officespace-tutorial.md
  docs/identity/saas-apps/ssogen-tutorial.md
  docs/identity/saas-apps/tripwire-enterprise-tutorial.md
  docs/identity/users/users-search-enhanced.md
  docs/workload-id/workload-identity-federation-considerations.md
Labels: do-not-merge, needs-human-review, Change sent to author, users/subsvc, entra-workload-id/svc

#1007 Fix a few typos
  docs/architecture/recoverability-overview.md
  docs/architecture/resilience-with-device-states.md
  docs/external-id/hybrid-cloud-to-on-premises.md
  docs/id-governance/deploy-access-reviews.md
  docs/id-governance/entitlement-management-troubleshoot.md
  docs/id-governance/identity-governance-applications-deploy.md
  docs/id-governance/lifecycle-workflows-deployment.md
  docs/identity-platform/authentication-national-cloud.md
  docs/identity-platform/custom-extension-configure-saml-app.md
  docs/identity-platform/custom-extension-troubleshoot.md
  docs/identity-platform/howto-configure-app-instance-property-locks.md
  docs/identity-platform/msal-android-single-sign-on.md
  docs/identity-platform/msal-net-use-brokers-with-xamarin-apps.md
  docs/identity-platform/reference-error-codes.md
  docs/identity-platform/scenario-web-app-call-api-acquire-token.md
  docs/identity-platform/troubleshoot-publisher-verification.md
  docs/identity/app-provisioning/inbound-provisioning-api-grant-access.md
  docs/identity/app-proxy/scripts/powershell-get-all-connectors.md
  docs/identity/authentication/concept-authentication-authenticator-app.md
  docs/identity/authentication/how-to-mfa-authenticator-lite.md
  docs/identity/authentication/howto-mfa-getstarted.md
  docs/identity/authentication/howto-password-ban-bad-on-premises-troubleshoot.md
  docs/identity/conditional-access/concept-conditional-access-conditions.md
  docs/identity/enterprise-apps/application-sign-in-problem-first-party-microsoft.md
  docs/identity/enterprise-apps/manage-consent-requests.md
  docs/identity/enterprise-apps/secure-hybrid-access.md
  docs/identity/saas-apps/clever-nelly-tutorial.md
  docs/identity/saas-apps/projectplace-tutorial.md
Labels: do-not-merge, needs-human-review, Change sent to author, entra-id/svc, saas-apps/subsvc

#1008 Update licensing-service-plan-referencTeams-Rooms.md
  docs/identity/users/licensing-service-plan-reference.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, users/subsvc

#1013 Move the . back into button on icon download page.
  docs/architecture/architecture-icons.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra/svc, architecture/subsvc

#1017 Remove dup JS library in resilience-client-app.md
  docs/architecture/resilience-client-app.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra/svc, architecture/subsvc

#1018 Update reference-provision-to-active-directory-faq.yml
  docs/identity/hybrid/cloud-sync/reference-provision-to-active-directory-faq.yml
Labels: do-not-merge, needs-human-review, Change sent to author, entra-id/svc, hybrid-cloud-sync/subsvc

#1022 Fixed grammar issue
  docs/identity/hybrid/cloud-sync/plan-cloud-sync-topologies.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, hybrid-cloud-sync/subsvc

#1021 Fixed grammar issue
  docs/identity/hybrid/sync-tools.md
Labels: hybrid/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc

#1023 Fixed typo
  docs/identity/hybrid/install.md
Labels: hybrid/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc

#1026 Fixed grammar issue
  docs/identity/hybrid/verify-sync-tool-version.md
Labels: hybrid/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc

#1027 Fixed grammar issue
  docs/includes/entra-cloud-sync-how-to-verify-installation.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc

#1029 Fixed grammar issue
  docs/identity/hybrid/connect/how-to-connect-sso-faq.yml
Labels: do-not-merge, needs-human-review, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#1031 Fix a few typos
  docs/external-id/authentication-conditional-access.md
  docs/id-governance/entitlement-management-access-package-resources.md
  docs/id-protection/concept-identity-protection-risks.md
  docs/identity-platform/msal-android-single-sign-on.md
  docs/identity-platform/troubleshoot-publisher-verification.md
  docs/identity/authentication/concept-certificate-based-authentication-certificateuserids.md
  docs/identity/authentication/troubleshoot-sspr-writeback.md
  docs/identity/conditional-access/terms-of-use.md
  docs/identity/devices/manage-device-identities.md
  docs/identity/devices/manage-stale-devices.md
  docs/identity/enterprise-apps/migrate-ad-fs-application-howto.md
  docs/identity/hybrid/connect/plan-connect-design-concepts.md
  docs/identity/hybrid/connect/tutorial-passthrough-authentication.md
  docs/identity/multi-tenant-organizations/defender-xdr-microsoft-entra-mto.md
  docs/identity/saas-apps/campus-cafe-tutorial.md
  docs/identity/saas-apps/costpoint-tutorial.md
  docs/identity/saas-apps/foreseecxsuite-tutorial.md
  docs/identity/saas-apps/josa-tutorial.md
  docs/identity/saas-apps/learningpool-tutorial.md
  docs/identity/saas-apps/linkedin-talent-solutions-tutorial.md
  docs/identity/saas-apps/onestream-tutorial.md
  docs/identity/saas-apps/pksha-chatbot-tutorial.md
  docs/identity/saas-apps/salesforce-sandbox-tutorial.md
  docs/identity/saas-apps/sap-hana-cloud-platform-identity-authentication-tutorial.md
  docs/identity/users/groups-dynamic-tutorial.md
  docs/identity/users/licensing-service-plan-reference.md
  docs/permissions-management/product-reports.md
Labels: do-not-merge, needs-human-review, Change sent to author, users/subsvc, entra-permissions-management/svc

#1028 Fixed hanging sentence
  docs/identity/hybrid/sso.md
Labels: aq-pr-triaged, hybrid/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc

#1032 Fixed grammar issue
  docs/identity/hybrid/cloud-sync/how-to-attribute-mapping.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, hybrid-cloud-sync/subsvc

#1034 Fixed typo
  docs/includes/governance/governance-active-directory-to-entra-cloud-sync.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id-governance/svc

#1036 Fixed typo
  docs/identity/hybrid/cloud-sync/tutorial-directory-extension-group-provisioning.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, hybrid-cloud-sync/subsvc

#1039 Update entitlement-management-delegate.md
  docs/id-governance/entitlement-management-delegate.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id-governance/svc, entitlement-management/subsvc

#1040 Update entitlement-management-access-package-assignments.md
  docs/id-governance/entitlement-management-access-package-assignments.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id-governance/svc, entitlement-management/subsvc

#988 Update fullstory-saml-tutorial.md
  docs/identity/saas-apps/fullstory-saml-tutorial.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1054 Update how-to-connect-password-hash-synchronization.md
  docs/identity/hybrid/connect/how-to-connect-password-hash-synchronization.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#1002 Update zola-tutorial.md
  docs/identity/saas-apps/zola-tutorial.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1058 Fixed grammar issue
  docs/identity/authentication/howto-mfa-app-passwords.md
Labels: authentication/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc
