Repository MicrosoftDocs/entra-docs, pull requests merged in 2024-05, with the labels that each got.

#743 Update how-to-enable-passkey-fido2.md
  docs/identity/authentication/how-to-enable-passkey-fido2.md
Labels: authentication/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc

#748 Update resilience-with-device-states.md
  docs/architecture/resilience-with-device-states.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra/svc, architecture/subsvc

#754 Update licensing-service-plan-reference.md
  docs/identity/users/licensing-service-plan-reference.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, users/subsvc

#762 Update faqs.yml
  docs/identity/domain-services/faqs.yml
Labels: aq-pr-triaged, needs-human-review, ready-to-merge, Change sent to author, domain-services/subsvc, entra-id/svc

#760 Improve the EAM docs and link the App registration docs
  docs/identity/authentication/concept-authentication-external-method-provider.md
  docs/identity/authentication/how-to-authentication-external-method-manage.md
Labels: aq-pr-triaged, authentication/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc

#750 Update apple-sso-plugin.md for rebranding
  docs/identity-platform/apple-sso-plugin.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, identity-platform/svc

#792 Update concept-password-ban-bad.md
  docs/identity/authentication/concept-password-ban-bad.md
Labels: authentication/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc

#788 Add a note about id_token validation in the EAM concept docs
  docs/identity/authentication/concept-authentication-external-method-provider.md
Labels: aq-pr-triaged, authentication/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc

#799 Clarifying pre-req permissions needed
  docs/id-governance/manage-workflow-custom-security-attribute.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id-governance/svc, lifecycle-workflows/subsvc

#800 Microsoft Entra Connect Health: update information for new agent release
  docs/identity/hybrid/connect/how-to-connect-health-agent-install.md
  docs/identity/hybrid/connect/media/how-to-connect-health-agent-install/aadconnect-health-adds-agent-install1.png
  docs/identity/hybrid/connect/media/how-to-connect-health-agent-install/install-1.png
  docs/identity/hybrid/connect/media/how-to-connect-health-agent-install/install2.png
  docs/identity/hybrid/connect/reference-connect-health-version-history.md
Labels: needs-human-review, ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#721 Update licensing-ps-examples.md
  docs/identity/users/licensing-ps-examples.md
Labels: aq-pr-triaged, active-directory/svc, needs-human-review, ready-to-merge, Change sent to author, enterprise-users/subsvc

#521 Update reference-app-manifest.md
  docs/identity-platform/reference-app-manifest.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, identity-platform/svc

#786 Update howto-policy-approved-app-or-app-protection.yml
  docs/identity/conditional-access/howto-policy-approved-app-or-app-protection.yml
Labels: aq-pr-triaged, conditional-access/subsvc, needs-human-review, ready-to-merge, Change sent to author, entra-id/svc

#812 Update reference-service-limits.md for custom auth extensions
  docs/external-id/customers/reference-service-limits.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-external-id/svc, customers/subsvc

#844 Update overview.md
  docs/identity/multi-tenant-organizations/overview.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, multitenant-organizations/subsvc

#808 Add note that apps must be registered in a directory to identity platform updates reference
  docs/identity-platform/reference-breaking-changes.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, identity-platform/svc

#700 Update how-to-prerequisites.md
  docs/identity/hybrid/cloud-sync/how-to-prerequisites.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, hybrid-cloud-sync/subsvc

#879 Update slack-provisioning-tutorial.md
  docs/identity/saas-apps/slack-provisioning-tutorial.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#891 Update workload-identity-federation-considerations.md
  docs/workload-id/workload-identity-federation-considerations.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-workload-id/svc

#405 Added Question and Answer to the Q&A - Please confirm with the P
  docs/external-id/direct-federation.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-external-id/svc
