Repository MicrosoftDocs/entra-docs, pull requests merged in 2024-10, with the labels that each got.

#1172 Update nist-authenticator-assurance-level-1.md
  docs/standards/nist-authenticator-assurance-level-1.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra/svc, standards/subsvc

#1162 Update workload-identity-federation-considerations.md
  docs/workload-id/workload-identity-federation-considerations.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-workload-id/svc

#1174 Update howto-authentication-methods-activity.md
  docs/identity/authentication/howto-authentication-methods-activity.md
Labels: aq-pr-triaged, authentication/subsvc, do-not-merge, needs-human-review, Change sent to author, entra-id/svc

#1176 Correct grammatical error
  docs/identity/authentication/concepts-azure-multi-factor-authentication-prompts-session-lifetime.md
Labels: authentication/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc

#1177 Improve readability of sentence
  docs/identity/authentication/concepts-azure-multi-factor-authentication-prompts-session-lifetime.md
Labels: authentication/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc

#1178 correct grammatical error
  docs/identity/conditional-access/concept-session-lifetime.md
Labels: conditional-access/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc

#1183 Fixed typos in scenario-protected-web-api-verification-scope-app-roles.md
  docs/identity-platform/scenario-protected-web-api-verification-scope-app-roles.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, identity-platform/svc

#1191 Update howto-restrict-your-app-to-a-set-of-users.md
  docs/identity-platform/howto-restrict-your-app-to-a-set-of-users.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, identity-platform/svc

#1192 Fixed code issue
  docs/external-id/customers/tutorial-native-authentication-prepare-android-app.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-external-id/svc, customers/subsvc

#1205 Update how-to-configure-kerberos-sso.md
  docs/global-secure-access/how-to-configure-kerberos-sso.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, global-secure-access/svc, entra-private-access/subsvc

#1195 Use correct anchor for page section about nesting groups
  docs/fundamentals/concept-learn-about-groups.md
Labels: aq-pr-triaged, fundamentals/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra/svc

#1201 fixed FEITIAN FIDO token column
  docs/identity/authentication/concept-fido2-hardware-vendor.md
Labels: aq-pr-triaged, authentication/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc

#1218 Update jiramicrosoft-tutorial.md
  docs/identity/saas-apps/jiramicrosoft-tutorial.md
  docs/identity/saas-apps/media/jiramicrosoft-tutorial/sso-plugin-configuration-page.png
Labels: do-not-merge, needs-human-review, Change sent to author, entra-id/svc, saas-apps/subsvc

#1146 Update network-considerations.md
  docs/identity/domain-services/network-considerations.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, domain-services/subsvc, entra-id/svc

#1081 Update alert-service-principal.md fixing incorrect link.
  docs/identity/domain-services/alert-service-principal.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, domain-services/subsvc, entra-id/svc

#1217 Update confluencemicrosoft-tutorial.md
  docs/identity/saas-apps/confluencemicrosoft-tutorial.md
  docs/identity/saas-apps/media/confluencemicrosoft-tutorial/sso-plugin-configuration-page.png
Labels: aq-pr-triaged, do-not-merge, needs-human-review, Change sent to author, entra-id/svc, saas-apps/subsvc

#1213 Update how-to-connect-fed-group-claims.md
  docs/identity/hybrid/connect/how-to-connect-fed-group-claims.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#1220 Remove domain federation limit - Update direct-federation.md
  docs/external-id/direct-federation.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-external-id/svc
