Repository MicrosoftDocs/entra-docs, pull requests merged in 2024-06, with the labels that each got.

#906 User identity document improvement
  docs/identity/managed-identities-azure-resources/includes/qs-configure-powershell-windows-vm.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author

#836 Update how-to-manage-user-profile-info.yml
  docs/fundamentals/how-to-manage-user-profile-info.yml
Labels: aq-pr-triaged, fundamentals/subsvc, needs-human-review, ready-to-merge, Change sent to author, entra/svc

#903 Update Add-MgGroupMember to New-MgGroupMember.
  docs/identity/users/groups-settings-v2-cmdlets.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, users/subsvc

#902 Fixes in Verified helpdesk docs
  docs/verified-id/helpdesk-with-verified-id.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-verified-id/svc

#881 Update security-defaults.md
  docs/fundamentals/security-defaults.md
Labels: aq-pr-triaged, fundamentals/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra/svc

#918 Update sse-deployment-guide-intro.md
  docs/architecture/sse-deployment-guide-intro.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, global-secure-access/svc

#923 Update Grant controls docs
  docs/identity/conditional-access/concept-conditional-access-grant.md
Labels: conditional-access/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc

#927 Stronger guidance on resilient authentication using UAMI
  docs/identity/managed-identities-azure-resources/managed-identities-faq.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, managed-identities/subsvc

#909 Update Connect Sync positive filtering for clarity
  docs/identity/hybrid/connect/how-to-connect-sync-configure-filtering.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#895 Update plan-connect-performance-factors.md
  docs/identity/hybrid/connect/plan-connect-performance-factors.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#929 Update claims-customization-powershell.md adding the Policy.Read.All permission to the Connect-MgGraph
  docs/identity-platform/claims-customization-powershell.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, identity-platform/svc

#463 Update v2-oauth2-client-creds-grant-flow.md
  docs/identity-platform/v2-oauth2-client-creds-grant-flow.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, identity-platform/svc

#911 Improve wording of oauth2 request
  docs/identity-platform/v2-oauth2-auth-code-flow.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, identity-platform/svc

#264 Fix example with missing &
  docs/identity-platform/v2-oauth2-on-behalf-of-flow.md
Labels: aq-pr-triaged, active-directory/svc, develop/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author

#937 rename Esign to SharePoint eSignature
  docs/identity/conditional-access/reference-office-365-application-contents.md
Labels: conditional-access/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc

#933 Update service-accounts-group-managed.md
  docs/architecture/service-accounts-group-managed.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra/svc, architecture/subsvc

#938 Update how-to-connect-sync-service-manager-ui-connectors.md
  docs/identity/hybrid/connect/how-to-connect-sync-service-manager-ui-connectors.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#677 Update howto-vm-sign-in-azure-ad-linux.md
  docs/identity/devices/howto-vm-sign-in-azure-ad-linux.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, devices/subsvc, entra-id/svc

#912 Update permissions-reference.md
  docs/identity/role-based-access-control/permissions-reference.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, role-based-access-control/subsvc

#764 Update permissions-reference.md
  docs/identity/role-based-access-control/permissions-reference.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, role-based-access-control/subsvc

#862 Update administrative-units.md
  docs/identity/role-based-access-control/administrative-units.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, role-based-access-control/subsvc

#934 Update how-to-connect-install-prerequisites.md
  docs/identity/hybrid/connect/how-to-connect-install-prerequisites.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#947 Fix links in the "Scenarios and supported authentication flows" table
  docs/identity-platform/authentication-flows-app-scenarios.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, identity-platform/svc

#151 Update groups-self-service-management.md
  docs/identity/users/groups-self-service-management.md
Labels: aq-pr-triaged, active-directory/svc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, enterprise-users/subsvc

#924 Update licensing-groups-resolve-problems.md
  docs/identity/users/licensing-groups-resolve-problems.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, users/subsvc

#763 Update how-manage-user-assigned-managed-identities.md
  docs/identity/managed-identities-azure-resources/how-manage-user-assigned-managed-identities.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, managed-identities/subsvc

#951 Update howto-mfa-nps-extension.md
  docs/identity/authentication/howto-mfa-nps-extension.md
Labels: authentication/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc

#957 Cleaned up old info and fixed date formats
  docs/identity/hybrid/connect/reference-connect-version-history.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#959 Update id-protection-dashboard.md
  docs/id-protection/id-protection-dashboard.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id-protection/svc

#570 I probably found a typo
  docs/architecture/authorize-applications-resources-workloads.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra/svc, no-pr-activity

#962 Fix typo "manged" -> "managed"
  docs/workload-id/workload-identity-federation-create-trust-user-assigned-managed-identity.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-workload-id/svc
