Repository MicrosoftDocs/entra-docs, pull requests merged in 2024-12, with the labels that each got.

#781 Update concept-authentication-phone-options.md
  docs/identity/authentication/concept-authentication-phone-options.md
Labels: aq-pr-triaged, authentication/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, no-pr-activity

#579 Update tutorial-enable-azure-mfa.md
  docs/identity/authentication/tutorial-enable-azure-mfa.md
Labels: aq-pr-triaged, authentication/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, no-pr-activity

#1259 Update how-to-enable-passkey-fido2.md
  docs/identity/authentication/how-to-enable-passkey-fido2.md
Labels: authentication/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc

#1262 Update licensing-fundamentals.md
  docs/id-governance/licensing-fundamentals.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id-governance/svc

#1265 Update howto-mfa-mfasettings.md
  docs/identity/authentication/howto-mfa-mfasettings.md
Labels: aq-pr-triaged, authentication/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc

#1214 Update licensing-governance.md
  docs/includes/licensing-governance.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc

#1232 Fix PowerShell command
  docs/identity/users/groups-assign-sensitivity-labels.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, users/subsvc

#1269 Updating the text for OIDC Provisioning
  docs/identity/saas-apps/github-enterprise-managed-user-oidc-provisioning-tutorial.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1274 Updating Global Reader Microsoft 365 Defender limitation
  docs/identity/role-based-access-control/permissions-reference.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, role-based-access-control/subsvc

#1272 Update how-to-install-macos-client.md
  docs/global-secure-access/how-to-install-macos-client.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, global-secure-access/svc

#1279 Update security-defaults.md
  docs/fundamentals/security-defaults.md
Labels: fundamentals/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra/svc

#1280 fix link
  docs/identity/hybrid/connect/tshoot-connect-sync-errors.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#1281 Update uniflow-online-provisioning-tutorial.md
  docs/identity/saas-apps/uniflow-online-provisioning-tutorial.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1284 Add SQL memory best practices
  docs/identity/hybrid/connect/how-to-connect-install-prerequisites.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#1282 Update toc.yml
  docs/identity/saas-apps/toc.yml
Labels: do-not-merge, needs-human-review, review-team-triage

#1286 Update secure-generative-ai.md
  docs/architecture/secure-generative-ai.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra/svc, architecture/subsvc

#1290 Fixed typo
  docs/identity/multi-tenant-organizations/multi-tenant-organization-overview.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, multitenant-organizations/subsvc

#1292 Add feature for revoking access packages
  docs/id-governance/entitlement-management-request-approve.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, entra-id-governance/svc, entitlement-management/subsvc
