Repository MicrosoftDocs/entra-docs, pull requests merged in 2024-02, with the labels that each got.

#249 Update tutorial-web-app-dotnet-sign-in-users.md
  docs/identity-platform/tutorial-web-app-dotnet-sign-in-users.md
Labels: aq-pr-triaged, active-directory/svc, develop/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author

#321 Fix minor typo in "supperseded"
  docs/identity/hybrid/connect/reference-connect-version-history.md
Labels: active-directory/svc, hybrid/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author

#337 Direct link to custom apps section
  docs/fundamentals/five-steps-to-full-application-integration.md
Labels: aq-pr-triaged, active-directory/svc, fundamentals/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author

#328 Added API option for HR sources
  docs/id-governance/apps.md
Labels: aq-pr-triaged, active-directory/svc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, compliance/subsvc

#329 Exclude Entra Connect Health from services that support Hybrid Identity Admin
  docs/identity/role-based-access-control/permissions-reference.md
Labels: aq-pr-triaged, active-directory/svc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, roles/subsvc

#345 Update concept-authentication-phone-options.md
  docs/identity/authentication/concept-authentication-phone-options.md
Labels: active-directory/svc, authentication/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author

#179 Update documentation how to get the android signature digest for the latest android version
  docs/identity-platform/msal-net-use-brokers-with-xamarin-apps.md
Labels: aq-pr-triaged, active-directory/svc, develop/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author

#326 Update-to-group-member-limit
  docs/includes/entra-service-limits-include.md
Labels: aq-pr-triaged, active-directory/svc, qualifies-for-auto-merge, ready-to-merge, Change sent to author

#357 Update service-dependencies.md
  docs/identity/conditional-access/service-dependencies.md
Labels: aq-pr-triaged, active-directory/svc, conditional-access/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author

#373 Update tutorial-create-instance.md
  docs/identity/domain-services/tutorial-create-instance.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, domain-services/subsvc, entra-id/svc

#388 Update how-to-lifecycle-workflow-sync-attributes.md
  docs/id-governance/how-to-lifecycle-workflow-sync-attributes.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id-governance/svc, lifecycle-workflows/subsvc

#395 Fix grammar contraction mistake
  docs/external-id/customers/tutorial-protect-web-api-dotnet-core-build-app.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-external-id/svc, customers/subsvc

#376 Update reference-error-codes.md
  docs/identity-platform/reference-error-codes.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, identity-platform/svc

#400 Update fido2-compatibility.md
  docs/identity/authentication/fido2-compatibility.md
Labels: authentication/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc

#407 Update how-to-user-flow-sign-up-sign-in-customers.md
  docs/external-id/customers/how-to-user-flow-sign-up-sign-in-customers.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-external-id/svc, customers/subsvc

#350 Update puzzel-provisioning-tutorial.md to remove step to contact support
  docs/identity/saas-apps/puzzel-provisioning-tutorial.md
Labels: aq-pr-triaged, active-directory/svc, saas-app-tutorial/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author

#382 Update howto-vm-sign-in-azure-ad-linux.md
  docs/identity/devices/howto-vm-sign-in-azure-ad-linux.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, devices/subsvc, entra-id/svc

#390 Update how-to-prerequisites.md
  docs/identity/hybrid/cloud-sync/how-to-prerequisites.md
Labels: aq-pr-triaged, do-not-merge, needs-human-review, Change sent to author, entra-id/svc, hybrid-cloud-sync/subsvc

#421 Update admin-units-manage.md
  docs/identity/role-based-access-control/admin-units-manage.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, role-based-access-control/subsvc

#431 Update how-to-configure-aws-iam.md
  docs/permissions-management/how-to-configure-aws-iam.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-permissions-management/svc

#255 Added Privacy Sandbox references.md
  docs/identity-platform/reference-third-party-cookies-spas.md
Labels: aq-pr-triaged, active-directory/svc, develop/subsvc, do-not-merge, Change sent to author

#436 Update msal-configuration.md
  docs/identity-platform/msal-configuration.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, identity-platform/svc

#403 Update howto-access-activity-logs.md to increase awareness on MS Graph API limits
  docs/identity/monitoring-health/howto-access-activity-logs.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, entra-id/svc, monitoring-health/subsvc
