Repository MicrosoftDocs/entra-docs, pull requests merged in 2024-11, with the labels that each got.

#1222 Update programmable name for email
  docs/external-id/customers/concept-user-attributes.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-external-id/svc, external/subsvc

#1224 Update reference-third-party-cookies-spas.md
  docs/identity-platform/reference-third-party-cookies-spas.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, identity-platform/svc

#1226 Update how-to-configure-connectors.md
  docs/global-secure-access/how-to-configure-connectors.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, global-secure-access/svc, entra-private-access/subsvc

#1230 Update how-to-connect-import-export-config.md
  docs/identity/hybrid/connect/how-to-connect-import-export-config.md
Labels: qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#1238 Update licensing-service-plan-reference.md
  docs/identity/users/licensing-service-plan-reference.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, users/subsvc

#1240 Update greenhouse-tutorial.md
  docs/identity/saas-apps/greenhouse-tutorial.md
Labels: do-not-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1225 Update optional-claims.md
  docs/identity-platform/optional-claims.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, identity-platform/svc

#1203 Update concept-fido2-hardware-vendor.md
  docs/identity/authentication/concept-fido2-hardware-vendor.md
Labels: aq-pr-triaged, authentication/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc

#1245 Update signing-key-rollover.md
  docs/identity-platform/signing-key-rollover.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, identity-platform/svc

#1233 Update feature-availability.md with Lifecycle Workflows availability
  docs/identity/authentication/feature-availability.md
Labels: aq-pr-triaged, authentication/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc

#1223 Clarified which protocol the connectivity is required
  docs/identity/authentication/how-to-enable-authenticator-passkey.md
Labels: aq-pr-triaged, authentication/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc

#1097 Update command to verify certifcate on entra ID
  docs/identity/authentication/howto-mfa-nps-extension.md
Labels: aq-pr-triaged, authentication/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc

#1090 Update howto-authentication-passwordless-security-key-windows.md
  docs/identity/authentication/howto-authentication-passwordless-security-key-windows.md
Labels: aq-pr-triaged, authentication/subsvc, do-not-merge, Change sent to author, entra-id/svc

#11 Update secure-your-domain.md
  docs/identity/domain-services/secure-your-domain.md
Labels: aq-pr-triaged, active-directory/svc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, domain-services/subsvc, no-pr-activity

#384 Update howto-authentication-passwordless-troubleshoot.md
  docs/identity/authentication/howto-authentication-passwordless-troubleshoot.md
Labels: aq-pr-triaged, authentication/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, no-pr-activity

#1180 Update concept-primary-refresh-token.md
  docs/identity/devices/concept-primary-refresh-token.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, devices/subsvc, entra-id/svc

#1244 Update single-sign-on-saml-protocol.md
  docs/identity-platform/single-sign-on-saml-protocol.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, identity-platform/svc
