Repository MicrosoftDocs/entra-docs, pull requests merged in 2025-07, with the labels that each got.

#1645 Update manage-dns.md
  docs/identity/domain-services/manage-dns.md
Labels: ready-to-merge, Change sent to author, domain-services/subsvc, entra-id/svc

#1452 Fix wrong method call in the snippet
  docs/identity-platform/tutorial-single-page-app-react-prepare-app.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, identity-platform/svc

#1644 Update workload-identity-federation-config-app-trust-managed-identity.md
  docs/workload-id/workload-identity-federation-config-app-trust-managed-identity.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-workload-id/svc

#1547 Updating AAD Graph to MS Graph
  docs/identity-platform/v2-oauth2-auth-code-flow.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, identity-platform/svc

#1649 Update concept-authentication-flows.md
  docs/identity/conditional-access/concept-authentication-flows.md
Labels: conditional-access/subsvc, ready-to-merge, Change sent to author, entra-id/svc

#1552 Update hybrid-join-plan.md
  docs/identity/devices/hybrid-join-plan.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, devices/subsvc, entra-id/svc

#1448 Update Line 144 secure-multiple-tenants.md
  docs/architecture/secure-multiple-tenants.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra/svc, architecture/subsvc

#1632 Update how-to-use-with-azure-sql-service-endpoint.md
  docs/global-secure-access/how-to-use-with-azure-sql-service-endpoint.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, global-secure-access/svc, entra-private-access/subsvc

#1662 Update quickstart-register-app.md
  docs/identity-platform/quickstart-register-app.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, identity-platform/svc

#1661 macOS: New uninstall localtion (Version 1.1.25060400)
  docs/global-secure-access/how-to-install-macos-client.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, global-secure-access/svc

#1494 Update how-to-migrate-users.md
  docs/external-id/customers/how-to-migrate-users.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-external-id/svc, external/subsvc

#1622 Added new attributes to knowbe4 application document
  docs/identity/saas-apps/knowbe4-security-awareness-training-provisioning-tutorial.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1667 Update authorization-basics.md
  docs/identity-platform/authorization-basics.md
Labels: do-not-merge, Change sent to author, identity-platform/svc

#1618 fix code blocks
  docs/identity/devices/sso-linux.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, devices/subsvc, entra-id/svc

#1651 Update examples in C#, PowerShell on how-to-use-vm-token.md
  docs/identity/managed-identities-azure-resources/how-to-use-vm-token.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-id/svc, managed-identities/subsvc

#1671 Update entitlement-management-access-package-visibility.md
  docs/id-governance/entitlement-management-access-package-visibility.md
Labels: ready-to-merge, Change sent to author, entra-id-governance/svc, lifecycle-workflows/subsvc

#1672 Update entitlement-management-suggested-access-packages.md
  docs/id-governance/entitlement-management-suggested-access-packages.md
Labels: needs-human-review, ready-to-merge, Change sent to author, entra-id-governance/svc, entitlement-management/subsvc

#1676 (AzureCXP) fixes MicrosoftDocs/azure-docs
  docs/identity/enterprise-apps/add-application-portal-setup-sso-rpsts.md
Labels: do-not-merge, Change sent to author, entra-id/svc, enterprise-apps/subsvc

#1684 Update ai-administrator.md
  docs/identity/role-based-access-control/includes/ai-administrator.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author

#1675 Added details to create Access Review as part of Access Package creation
  docs/includes/entra-entitlement-management-lifecycle-policy.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, entra-id/svc

#1682 NOT 'ds:signature', But 'SignatureValue'.md
  docs/identity-platform/single-sign-on-saml-protocol.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, identity-platform/svc

#1670 Update concept-identity-protection-risks.md
  docs/id-protection/concept-identity-protection-risks.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, entra-id-protection/svc

#1692 Update entitlement-management-verified-id-settings.md
  docs/id-governance/entitlement-management-verified-id-settings.md
Labels: ready-to-merge, Change sent to author, entra-id-governance/svc, entitlement-management/subsvc
