Repository MicrosoftDocs/entra-docs, pull requests merged in 2025-05, with the labels that each got.

#1457 Update concept-conditional-access-policies.md
  docs/identity/conditional-access/concept-conditional-access-policies.md
Labels: aq-pr-triaged, triaged, conditional-access/subsvc, ready-to-merge, Change sent to author, entra-id/svc

#1538 Add and partially update error code
  docs/identity-platform/reference-error-codes.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, identity-platform/svc

#1541 Update retire-service-principal-less-authentication.md
  docs/identity-platform/retire-service-principal-less-authentication.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author

#1529 Spelling and Markdown
  docs/identity/saas-apps/hoxhunt-provisioning-tutorial.md
  docs/identity/saas-apps/humbol-provisioning-tutorial.md
  docs/identity/saas-apps/hypervault-provisioning-tutorial.md
  docs/identity/saas-apps/ideagen-cloud-provisioning-tutorial.md
  docs/identity/saas-apps/infor-cloudsuite-provisioning-tutorial.md
  docs/identity/saas-apps/informacast-provisioning-tutorial.md
  docs/identity/saas-apps/informatica-platform-tutorial.md
  docs/identity/saas-apps/insight4grc-provisioning-tutorial.md
  docs/identity/saas-apps/insightly-saml-provisioning-tutorial.md
  docs/identity/saas-apps/insite-lms-provisioning-tutorial.md
  docs/identity/saas-apps/introdus-pre-and-onboarding-platform-provisioning-tutorial.md
  docs/identity/saas-apps/invision-provisioning-tutorial.md
  docs/identity/saas-apps/invitedesk-provisioning-tutorial.md
  docs/identity/saas-apps/ipoint-service-provider-tutorial.md
  docs/identity/saas-apps/iris-intranet-provisioning-tutorial.md
  docs/identity/saas-apps/island-provisioning-tutorial.md
  docs/identity/saas-apps/jellyfish-provisioning-tutorial.md
  docs/identity/saas-apps/jiramicrosoft-tutorial.md
  docs/identity/saas-apps/jitbit-helpdesk-tutorial.md
  docs/identity/saas-apps/jostle-provisioning-tutorial.md
Labels: aq-pr-triaged, needs-human-review, ready-to-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1527 Spelling and Markdown
  docs/identity/saas-apps/cybozu-provisioning-tutorial.md
  docs/identity/saas-apps/cybsafe-provisioning-tutorial.md
  docs/identity/saas-apps/dagster-cloud-provisioning-tutorial.md
  docs/identity/saas-apps/datadog-provisioning-tutorial.md
  docs/identity/saas-apps/deem-mobile-tutorial.md
  docs/identity/saas-apps/diffchecker-provisioning-tutorial.md
  docs/identity/saas-apps/directprint-io-provisioning-tutorial.md
  docs/identity/saas-apps/document360-tutorial.md
  docs/identity/saas-apps/documo-provisioning-tutorial.md
  docs/identity/saas-apps/egnyte-provisioning-tutorial.md
  docs/identity/saas-apps/eletive-provisioning-tutorial.md
  docs/identity/saas-apps/elia-provisioning-tutorial.md
  docs/identity/saas-apps/elia-tutorial.md
  docs/identity/saas-apps/embed-signage-provisioning-tutorial.md
  docs/identity/saas-apps/evercate-provisioning-tutorial.md
  docs/identity/saas-apps/exium-provisioning-tutorial.md
  docs/identity/saas-apps/f5-big-ip-oracle-enterprise-business-suite-easy-button.md
  docs/identity/saas-apps/facebook-work-accounts-provisioning-tutorial.md
  docs/identity/saas-apps/fareharbor-saml-sso-tutorial.md
  docs/identity/saas-apps/fidelity-planviewer-tutorial.md
Labels: aq-pr-triaged, needs-human-review, ready-to-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1525 Spelling and Markdown
  docs/identity/saas-apps/bis-provisioning-tutorial.md
  docs/identity/saas-apps/bizagi-studio-for-digital-process-automation-provisioning-tutorial.md
  docs/identity/saas-apps/bldng-app-provisioning-tutorial.md
  docs/identity/saas-apps/blink-provisioning-tutorial.md
  docs/identity/saas-apps/blinq-provisioning-tutorial.md
  docs/identity/saas-apps/boxcryptor-provisioning-tutorial.md
  docs/identity/saas-apps/bpanda-provisioning-tutorial.md
  docs/identity/saas-apps/brainstorm-platform-tutorial.md
  docs/identity/saas-apps/braze-tutorial.md
  docs/identity/saas-apps/britive-provisioning-tutorial.md
  docs/identity/saas-apps/browserstack-single-sign-on-provisioning-tutorial.md
  docs/identity/saas-apps/bugcrowd-tutorial.md
  docs/identity/saas-apps/bullseyetdp-provisioning-tutorial.md
  docs/identity/saas-apps/bustle-b2b-transport-systems-provisioning-tutorial.md
  docs/identity/saas-apps/canva-provisioning-tutorial.md
  docs/identity/saas-apps/cato-networks-provisioning-tutorial.md
  docs/identity/saas-apps/cerby-provisioning-tutorial.md
  docs/identity/saas-apps/chaos-provisioning-tutorial.md
  docs/identity/saas-apps/chatwork-provisioning-tutorial.md
  docs/identity/saas-apps/checkpoint-infinity-portal-tutorial.md
Labels: aq-pr-triaged, needs-human-review, ready-to-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1544 Update admin-units-restricted-management.md
  docs/identity/role-based-access-control/admin-units-restricted-management.md
Labels: ready-to-merge, Change sent to author, entra-id/svc, role-based-access-control/subsvc

#1522 Spelling and Markdown
  docs/includes/app-provisioning-ldap.md
  docs/includes/app-provisioning-sql.md
  docs/includes/cloud-sync-version-history.md
  docs/includes/governance/governance-workday-to-active-directory.md
  docs/includes/secure-recommendations/21773.md
  docs/includes/secure-recommendations/21795.md
  docs/includes/secure-recommendations/21796.md
  docs/permissions-management/how-to-create-approve-privilege-request.md
  docs/standards/configure-cmmc-level-1-controls.md
  docs/standards/configure-cmmc-level-2-access-control.md
  docs/standards/configure-cmmc-level-2-additional-controls.md
  docs/standards/fedramp-access-controls.md
  docs/standards/fedramp-identification-and-authentication-controls.md
  docs/standards/hipaa-access-controls.md
  docs/standards/hipaa-hitrust-controls.md
  docs/standards/memo-22-09-authorization.md
  docs/standards/nist-authenticator-assurance-level-2.md
  docs/standards/nist-authenticator-types.md
  docs/standards/pci-requirement-7.md
Labels: aq-pr-triaged, do-not-merge, needs-human-review, review-team-triage

#1528 Spelling and Markdown
  docs/identity/saas-apps/forcepoint-cloud-security-gateway-provisioning-tutorial.md
  docs/identity/saas-apps/fortes-change-cloud-provisioning-tutorial.md
  docs/identity/saas-apps/frankli-io-provisioning-tutorial.md
  docs/identity/saas-apps/freshservice-provisioning-tutorial.md
  docs/identity/saas-apps/funnel-leasing-provisioning-tutorial.md
  docs/identity/saas-apps/getabstract-provisioning-tutorial.md
  docs/identity/saas-apps/github-enterprise-managed-user-oidc-provisioning-tutorial.md
  docs/identity/saas-apps/github-enterprise-managed-user-provisioning-tutorial.md
  docs/identity/saas-apps/globesmart-tutorial.md
  docs/identity/saas-apps/golinks-provisioning-tutorial.md
  docs/identity/saas-apps/gong-provisioning-tutorial.md
  docs/identity/saas-apps/goskills-provisioning-tutorial.md
  docs/identity/saas-apps/grammarly-provisioning-tutorial.md
  docs/identity/saas-apps/grouptalk-provisioning-tutorial.md
  docs/identity/saas-apps/gtmhub-provisioning-tutorial.md
  docs/identity/saas-apps/h5mag-provisioning-tutorial.md
  docs/identity/saas-apps/headspace-provisioning-tutorial.md
  docs/identity/saas-apps/helloid-provisioning-tutorial.md
  docs/identity/saas-apps/holmes-cloud-provisioning-tutorial.md
  docs/identity/saas-apps/howspace-provisioning-tutorial.md
Labels: aq-pr-triaged, do-not-merge, needs-human-review, Change sent to author, entra-id/svc, saas-apps/subsvc

#1521 Spelling and Markdown
  docs/identity-platform/access-token-claims-reference.md
  docs/identity-platform/access-tokens.md
  docs/identity-platform/deploy-web-app-authentication-pipeline.md
  docs/identity-platform/howto-modify-supported-accounts.md
  docs/identity-platform/msal-authentication-flows.md
  docs/identity-platform/msal-logging-js.md
  docs/identity-platform/quickstart-daemon-app-call-api.md
  docs/identity-platform/quickstart-desktop-app-sign-in.md
  docs/identity-platform/quickstart-v2-dotnet-native-aspnet.md
  docs/identity-platform/reference-error-codes.md
  docs/identity-platform/reply-url.md
  docs/identity-platform/sample-v2-code.md
  docs/identity-platform/tutorial-native-authentication-android-self-service-password-reset.md
  docs/identity-platform/v2-protocols-oidc.md
  docs/identity-platform/web-api-quickstart-portal-dotnet-native-aspnet.md
Labels: aq-pr-triaged, needs-human-review, ready-to-merge, Change sent to author, identity-platform/svc, external/subsvc

#1533 Update access-token-claims-reference.md
  docs/identity-platform/access-token-claims-reference.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, identity-platform/svc

#1534 Update id-token-claims-reference.md
  docs/identity-platform/id-token-claims-reference.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, identity-platform/svc

#1545 Update to docs for MSAL sample
  docs/workload-id/workload-identity-federation-config-app-trust-managed-identity.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-workload-id/svc

#1554 Update governance-deployment-intro.md
  docs/architecture/governance-deployment-intro.md
Labels: ready-to-merge, Change sent to author, entra-id-governance/svc

#1559 Update confluencemicrosoft-tutorial.md
  docs/identity/saas-apps/confluencemicrosoft-tutorial.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1563 Update concept-mfa-regional-opt-in.md
  docs/identity/authentication/concept-mfa-regional-opt-in.md
Labels: authentication/subsvc, do-not-merge, needs-human-review, Change sent to author, entra-id/svc

#1561 Update concept-mfa-regional-opt-in.md
  docs/identity/authentication/concept-mfa-regional-opt-in.md
Labels: aq-pr-triaged, authentication/subsvc, ready-to-merge, Change sent to author, entra-id/svc

#1376 Update pim-how-to-activate-role.yml
  docs/id-governance/privileged-identity-management/pim-how-to-activate-role.yml
Labels: aq-pr-triaged, needs-human-review, ready-to-merge, Change sent to author, entra-id-governance/svc, privileged-identity-management/subsvc

#1569 Update policy-all-users-security-info-registration.md
  docs/identity/conditional-access/policy-all-users-security-info-registration.md
Labels: aq-pr-triaged, triaged, conditional-access/subsvc, ready-to-merge, Change sent to author, entra-id/svc

#1560 Update how-to-region-code-opt-in.md
  docs/external-id/customers/how-to-region-code-opt-in.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, entra-external-id/svc, external/subsvc

#1572 Update reference-version-history.md
  docs/global-secure-access/reference-version-history.md
Labels: ready-to-merge, Change sent to author, global-secure-access/svc

#1585 Update reference-version-history.md
  docs/global-secure-access/reference-version-history.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, global-secure-access/svc

#1557 Add note about roleAssignmentApprovals only being available in beta
  docs/id-governance/privileged-identity-management/pim-apis.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, entra-id-governance/svc, privileged-identity-management/subsvc
