Repository MicrosoftDocs/entra-docs, pull requests merged in 2025-03, with the labels that each got.

#1303 Replace :authorityid with <authorityId> and :contractId with <contrac…
  docs/verified-id/admin-api.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-verified-id/svc

#1366 Update howto-manage-inactive-user-accounts.md
  docs/identity/monitoring-health/howto-manage-inactive-user-accounts.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, monitoring-health/subsvc

#1198 Add infobox warning that PIM activation disconnects Teams Mobile
  docs/id-governance/privileged-identity-management/pim-how-to-activate-role.yml
Labels: aq-pr-triaged, do-not-merge, needs-human-review, Change sent to author, entra-id-governance/svc, privileged-identity-management/subsvc

#1399 Spelling Fixes
  docs/identity/saas-apps/advance-kerbf5-tutorial.md
  docs/identity/saas-apps/amazon-web-service-tutorial.md
  docs/identity/saas-apps/bizagi-studio-for-digital-process-automation-provisioning-tutorial.md
  docs/identity/saas-apps/blogin-tutorial.md
  docs/identity/saas-apps/cornerstone-ondemand-tutorial.md
  docs/identity/saas-apps/floqast-tutorial.md
  docs/identity/saas-apps/hone-tutorial.md
  docs/identity/saas-apps/jobscience-tutorial.md
  docs/identity/saas-apps/kantegassoforconfluence-tutorial.md
  docs/identity/saas-apps/kantegassoforfisheyecrucible-tutorial.md
  docs/identity/saas-apps/m-files-provisioning-tutorial.md
  docs/identity/saas-apps/mongodb-cloud-tutorial.md
  docs/identity/saas-apps/perceptionunitedstates-tutorial.md
  docs/identity/saas-apps/preciate-provisioning-tutorial.md
  docs/identity/saas-apps/purecloud-by-genesys-provisioning-tutorial.md
  docs/identity/saas-apps/samlssoconfluence-tutorial.md
  docs/identity/saas-apps/screencast-tutorial.md
  docs/identity/saas-apps/tableauserver-tutorial.md
  docs/identity/saas-apps/treasury-intelligence-solutions-tis-tutorial.md
  docs/identity/saas-apps/wedo-tutorial.md
  docs/identity/saas-apps/whos-on-location-tutorial.md
  docs/identity/saas-apps/workday-writeback-tutorial.md
  docs/identity/saas-apps/workplace-from-meta-provisioning-tutorial.md
  docs/identity/saas-apps/zoho-one-provisioning-tutorial.md
Labels: do-not-merge, needs-human-review, Change sent to author, entra-id/svc, saas-apps/subsvc

#1395 Spelling Fixes
  docs/id-governance/entitlement-management-access-package-edit.md
  docs/id-governance/entitlement-management-reprocess-access-package-requests.md
  docs/id-governance/governance-custom-alerts.md
  docs/id-governance/scenarios/entitlement-management-private-access.md
  docs/id-governance/scenarios/govern-guest-lifecycle-new-project.md
  docs/id-protection/concept-identity-protection-policies.md
  docs/id-protection/howto-identity-protection-graph-api.md
  docs/identity/app-provisioning/known-issues.md
  docs/identity/app-provisioning/on-premises-ldap-connector-prepare-directory.md
  docs/identity/app-provisioning/use-scim-to-provision-users-and-groups.md
  docs/identity/app-proxy/application-proxy-back-end-kerberos-constrained-delegation-how-to.md
  docs/identity/authentication/concept-certificate-based-authentication-mobile-ios.md
  docs/identity/authentication/concept-registration-mfa-sspr-combined.md
  docs/identity/authentication/how-to-authentication-sms-supported-apps.md
  docs/identity/authentication/howto-authentication-passwordless-security-key-on-premises.md
  docs/identity/authentication/howto-password-ban-bad-on-premises-agent-versions.md
  docs/identity/conditional-access/concept-session-lifetime.md
  docs/identity/conditional-access/policy-admin-phish-resistant-mfa.md
  docs/identity/conditional-access/policy-all-users-copilot-ai-security.md
  docs/identity/conditional-access/policy-all-users-device-registration.md
  docs/identity/conditional-access/policy-all-users-security-info-registration.md
  docs/identity/conditional-access/policy-guests-mfa-strength.md
  docs/identity/devices/device-join-macos-platform-single-sign-on-multi-user-device.md
  docs/identity/devices/device-join-macos-platform-single-sign-on.md
  docs/identity/devices/manage-device-identities.md
  docs/identity/devices/troubleshoot-mac-sso-extension-plugin.md
  docs/identity/domain-services/tutorial-create-instance.md
  docs/identity/enterprise-apps/f5-big-ip-kerberos-advanced.md
  docs/identity/enterprise-apps/f5-big-ip-oracle-jde-easy-button.md
  docs/identity/enterprise-apps/f5-big-ip-oracle-peoplesoft-easy-button.md
  docs/identity/enterprise-apps/f5-bigip-deployment-guide.md
  docs/identity/enterprise-apps/myapps-overview.md
  docs/identity/enterprise-apps/secure-hybrid-access-integrations.md
  docs/identity/hybrid/cloud-sync/how-to-on-demand-provision-entra-to-active-directory.md
  docs/identity/hybrid/cloud-sync/reference-expressions.md
  docs/identity/hybrid/cloud-sync/tutorial-basic-ad-azure.md
Labels: conditional-access/subsvc, do-not-merge, needs-human-review, Change sent to author, entra-id/svc

#1398 Spelling fixes
  docs/includes/entra-msi-cross-tenant-cmk-create-identities-authorize-key-vault.md
  docs/includes/governance/governance-workday-to-entra.md
  docs/permissions-management/faqs.md
  docs/permissions-management/how-to-create-folders.md
  docs/standards/pci-requirement-6.md
  docs/verified-id/decentralized-identifier-overview.md
  docs/verified-id/signing-key-upgrade.md
  docs/workload-id/workload-identity-federation-config-app-trust-managed-identity.md
Labels: do-not-merge, needs-human-review, Change sent to author, entra-workload-id/svc, standards/subsvc

#1394 Spelling Fixes
  docs/architecture/backup-authentication-system.md
  docs/architecture/multi-tenant-common-considerations.md
  docs/external-id/customers/how-to-saml-ws-federation-self-service-sign-up.md
  docs/external-id/customers/how-to-user-insights.md
  docs/external-id/customers/tutorial-configure-cloudflare-integration.md
  docs/external-id/customers/tutorial-mobile-app-ios-swift-prepare-app.md
  docs/external-id/customers/tutorial-mobile-app-ios-swift-prepare-tenant.md
  docs/external-id/customers/tutorial-mobile-app-ios-swift-sign-in.md
  docs/external-id/customers/tutorial-native-authentication-android-self-service-password-reset.md
  docs/external-id/customers/tutorial-native-authentication-ios-sign-in-call-api.md
  docs/external-id/customers/tutorial-native-authentication-single-page-app-react-sign-up.md
  docs/external-id/tenant-restrictions-migration.md
  docs/fundamentals/bulk-operations-service-limitations.md
  docs/fundamentals/how-to-navigate.md
  docs/global-secure-access/how-to-export-connector-logs.md
  docs/global-secure-access/how-to-manage-microsoft-profile.md
  docs/global-secure-access/how-to-universal-tenant-restrictions.md
  docs/global-secure-access/reference-role-based-permissions.md
  docs/id-governance/privileged-identity-management/pim-powershell-migration.md
Labels: do-not-merge, needs-human-review, Change sent to author, entra-id-governance/svc, privileged-identity-management/subsvc

#1397 Spelling Fixes
  docs/identity-platform/configurable-token-lifetimes.md
  docs/identity-platform/custom-extension-email-otp-get-started.md
  docs/identity-platform/custom-extension-troubleshoot.md
  docs/identity-platform/developer-glossary.md
  docs/identity-platform/migrate-off-email-claim-authorization.md
  docs/identity-platform/mobile-app-quickstart-portal-ios.md
  docs/identity-platform/msal-acquire-cache-tokens.md
  docs/identity-platform/msal-android-single-sign-on.md
  docs/identity-platform/msal-node-migration.md
  docs/identity-platform/quickstart-mobile-app-ios-sign-in.md
  docs/identity-platform/quickstart-v2-ios.md
  docs/identity-platform/reference-claims-customization.md
  docs/identity-platform/scenario-desktop-acquire-token-device-code-flow.md
  docs/identity-platform/scenario-web-app-sign-user-app-registration.md
  docs/identity-platform/scopes-oidc.md
  docs/identity-platform/signing-key-rollover.md
  docs/identity-platform/tutorial-single-page-apps-angular-prepare-app.md
  docs/identity/monitoring-health/concept-log-monitoring-integration-options-considerations.md
  docs/identity/role-based-access-control/delegate-by-task.md
  docs/identity/role-based-access-control/m365-workload-docs.md
  docs/identity/users/licensing-ps-examples.md
Labels: do-not-merge, needs-human-review, Change sent to author, entra-id/svc, users/subsvc

#1199 Update custom-claims-provider-reference.md
  docs/identity-platform/custom-claims-provider-reference.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, identity-platform/svc, no-pr-activity

#1210 Update reference-breaking-changes.md - replace "case-insensitive" with "case-sensitive"
  docs/identity-platform/reference-breaking-changes.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, identity-platform/svc, no-pr-activity

#1405 Update howto-add-app-roles-in-apps.md
  docs/identity-platform/howto-add-app-roles-in-apps.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, identity-platform/svc

#1085 update: identity fundamentals link redirection
  docs/fundamentals/introduction-identity-access-management.md
Labels: aq-pr-triaged, fundamentals/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra/svc, no-pr-activity

#983 Workload identity federation: no need to get the Azure subscription ID
  docs/workload-id/workload-identity-federation-create-trust.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-workload-id/svc

#1263 Update powershell-get-custom-domain-replace-cert.md
  docs/identity/app-proxy/scripts/powershell-get-custom-domain-replace-cert.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, app-proxy/subsvc, entra-id/svc

#1167 Formatting fixes in reference-microsoft-graph-app-manifest.md
  docs/identity-platform/reference-app-manifest.md
  docs/identity-platform/reference-microsoft-graph-app-manifest.md
Labels: aq-pr-triaged, do-not-merge, needs-human-review, Change sent to author, identity-platform/svc, no-pr-activity

#966 workload-identity-federation-create-trust.md: roles allowed
  docs/workload-id/workload-identity-federation-create-trust.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, entra-workload-id/svc

#1137 Update reference-microsoft-graph-app-manifest.md
  docs/identity-platform/reference-microsoft-graph-app-manifest.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, identity-platform/svc, no-pr-activity

#1155 Update reference-microsoft-graph-app-manifest.md
  docs/identity-platform/reference-microsoft-graph-app-manifest.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, identity-platform/svc, no-pr-activity

#1126 Update single-sign-on-saml-protocol.md
  docs/identity-platform/single-sign-on-saml-protocol.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, identity-platform/svc, no-pr-activity

#1356 Update reference-cross-tenant-custom-roles.md
  docs/external-id/reference-cross-tenant-custom-roles.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-external-id/svc

#1416 Update confluencemicrosoft-tutorial.md
  docs/identity/saas-apps/confluencemicrosoft-tutorial.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1406 Update concept-mandatory-multifactor-authentication.md
  docs/identity/authentication/concept-mandatory-multifactor-authentication.md
Labels: aq-pr-triaged, authentication/subsvc, do-not-merge, Change sent to author, entra-id/svc

#1425 Add missing answer to the FAQ section
  docs/identity/authentication/concept-mandatory-multifactor-authentication.md
Labels: authentication/subsvc, do-not-merge, Change sent to author, entra-id/svc

#1418 Update snowflake-tutorial.md
  docs/identity/saas-apps/snowflake-tutorial.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1421 Make spacing slightly more consistent in FIC HTTP documentation
  docs/identity-platform/v2-oauth2-client-creds-grant-flow.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, identity-platform/svc

#1422 Update troubleshoot-hybrid-join-windows-current.md
  docs/identity/devices/troubleshoot-hybrid-join-windows-current.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, devices/subsvc, entra-id/svc

#1438 Update reference-connect-health-version-history.md
  docs/identity/hybrid/connect/reference-connect-health-version-history.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#1442 Update qs-configure-cli-windows-vm.md
  docs/identity/managed-identities-azure-resources/includes/qs-configure-cli-windows-vm.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author

#1431 Update tutorial-create-instance-advanced.md tip added
  docs/identity/domain-services/tutorial-create-instance-advanced.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, domain-services/subsvc, entra-id/svc

#1446 Update how-to-connect-health-agent-install.md
  docs/identity/hybrid/connect/how-to-connect-health-agent-install.md
Labels: ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#1380 Update Authenticator Phone-Sign-in Button name
  docs/identity/authentication/howto-authentication-passwordless-phone.md
Labels: aq-pr-triaged, authentication/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc

#1427 Update concept-fido2-hardware-vendor.md Removed Sample FIDO Keys
  docs/identity/authentication/concept-fido2-hardware-vendor.md
Labels: aq-pr-triaged, authentication/subsvc, ready-to-merge, Change sent to author, entra-id/svc

#1439 Update concept-directory-join.md
  docs/identity/devices/concept-directory-join.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, devices/subsvc, entra-id/svc

#1314 No Role is needed to activate PIM
  docs/id-governance/privileged-identity-management/pim-resource-roles-activate-your-roles.yml
Labels: aq-pr-triaged, needs-human-review, ready-to-merge, Change sent to author, entra-id-governance/svc, privileged-identity-management/subsvc

#1216 Update pim-resource-roles-assign-roles.md
  docs/id-governance/privileged-identity-management/pim-resource-roles-assign-roles.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id-governance/svc, privileged-identity-management/subsvc

#1321 Wallet SDK is in 1.0.0 version
  docs/verified-id/using-wallet-library.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-verified-id/svc

#1065 Fixed grammar issue / Clarified Meaning
  docs/includes/governance/governance-on-premises-active-directory-apps.md
Labels: aq-pr-triaged, do-not-merge, needs-human-review, Change sent to author, entra-id-governance/svc, no-pr-activity

#1075 Fixed grammar issue
  docs/identity/hybrid/cloud-sync/tutorial-pilot-aadc-aadccp.md
Labels: aq-pr-triaged, triaged, do-not-merge, Change sent to author, entra-id/svc, hybrid-cloud-sync/subsvc, no-pr-activity

#958 Clarified impact of not upgrading
  docs/identity/hybrid/connect/security-updates-pks.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc, no-pr-activity

#1037 Update pim-resource-roles-assign-roles.md
  docs/id-governance/privileged-identity-management/pim-resource-roles-assign-roles.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id-governance/svc, privileged-identity-management/subsvc, no-pr-activity

#1092 Update groups-dynamic-rule-member-of.md
  docs/identity/users/groups-dynamic-rule-member-of.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, entra-id/svc, users/subsvc, no-pr-activity

#1033 Fixed grammar issue
  docs/identity/hybrid/connect/concept-azure-ad-connect-sync-default-configuration.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc, no-pr-activity

#1025 Fixed grammar issues and complete hanging sentence
  docs/identity/hybrid/configure.md
Labels: aq-pr-triaged, hybrid/subsvc, do-not-merge, Change sent to author, entra-id/svc, no-pr-activity

#1208 Update how-to-dirsync-upgrade-get-started.md
  docs/identity/hybrid/connect/how-to-dirsync-upgrade-get-started.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#1435 Update application-properties.md
  docs/identity/enterprise-apps/application-properties.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, entra-id/svc, enterprise-apps/subsvc

#1451 Update datacamp-tutorial.md
  docs/identity/saas-apps/datacamp-tutorial.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1459 fix broken table in governance-deployment-intro.md
  docs/architecture/governance-deployment-intro.md
Labels: do-not-merge, Change sent to author, entra-id-governance/svc
