Repository MicrosoftDocs/entra-docs, pull requests merged in 2025-08, with the labels that each got.

#1691 364496 - UUF item update
  docs/identity/saas-apps/intacct-tutorial.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1660 Update descartes-tutorial.md
  docs/identity/saas-apps/descartes-tutorial.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1674 Update single-and-multi-tenant-apps.md
  docs/identity-platform/single-and-multi-tenant-apps.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, identity-platform/svc

#1665 Updated snowflake document
  docs/identity/saas-apps/snowflake-provisioning-tutorial.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1721 state OAuth client credentials grant is supported for non-gallery apps
  docs/identity/app-provisioning/use-scim-to-provision-users-and-groups.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, app-provisioning/subsvc, entra-id/svc

#1725 Update entitlement-management-access-package-approval-policy.md
  docs/id-governance/entitlement-management-access-package-approval-policy.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, entra-id-governance/svc, entitlement-management/subsvc
