Repository MicrosoftDocs/entra-docs, pull requests merged in 2025-04, with the labels that each got.

#1465 Update licensing-fundamentals.md
  docs/id-governance/licensing-fundamentals.md
Labels: do-not-merge, Change sent to author, entra-id-governance/svc

#1374 Update how-to-b2c-federation-customers.md
  docs/external-id/customers/how-to-b2c-federation-customers.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-external-id/svc, external/subsvc

#1464 Update reference-connect-version-history.md
  docs/identity/hybrid/connect/reference-connect-version-history.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#1461 Fixed option to select from no to yes for app roles assignment required
  docs/identity-platform/scenario-protected-web-api-app-registration.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, identity-platform/svc

#1450 Slightly changed the formatting of a JSON file. Fixed wrong indentation
  docs/workload-id/workload-identity-federation-config-app-trust-managed-identity.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-workload-id/svc

#1354 Link to App role assignment using Microsoft Graph is not correct
  docs/identity-platform/howto-add-app-roles-in-apps.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, identity-platform/svc

#1469 Corrected a typo in concept-azure-ad-connect-sync-architecture.md
  docs/identity/hybrid/connect/concept-azure-ad-connect-sync-architecture.md
Labels: do-not-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#1483 Update entra-service-limits-include.md
  docs/includes/entra-service-limits-include.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-id/svc

#1466 Adding Azure File Sync to the list of Azure services that support MI
  docs/identity/managed-identities-azure-resources/managed-identities-status.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-id/svc, managed-identities/subsvc

#1485 Update gsa-deployment-guide-private-access.md
  docs/architecture/gsa-deployment-guide-private-access.md
Labels: do-not-merge, Change sent to author, global-secure-access/svc

#1486 Update managed-identities-status.md
  docs/identity/managed-identities-azure-resources/managed-identities-status.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-id/svc, managed-identities/subsvc

#1487 Update entitlement-management-roles.md
  docs/id-governance/entitlement-management-roles.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, entra-id-governance/svc, entitlement-management/subsvc, review-in-progress

#1495 Update required roles for configuration
  docs/global-secure-access/how-to-compliant-network.md
Labels: ready-to-merge, Change sent to author, global-secure-access/svc

#1496 Update jiramicrosoft-tutorial.md
  docs/identity/saas-apps/jiramicrosoft-tutorial.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1497 Update confluencemicrosoft-tutorial.md
  docs/identity/saas-apps/confluencemicrosoft-tutorial.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1404 Tutorial fix: Clarify bulk operations for SCIM provisioning
  docs/identity/app-provisioning/use-scim-to-provision-users-and-groups.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, app-provisioning/subsvc, entra-id/svc

#1488 Update entitlement-management-access-package-resources.md
  docs/id-governance/entitlement-management-access-package-resources.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-id-governance/svc, entitlement-management/subsvc

#1477 Update device-sso-to-on-premises-resources.md
  docs/identity/devices/device-sso-to-on-premises-resources.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, devices/subsvc, entra-id/svc

#1346 Update how-to-upgrade-previous-version.md
  docs/identity/hybrid/connect/how-to-upgrade-previous-version.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#1207 Update how-to-connect-install-existing-database.md
  docs/identity/hybrid/connect/how-to-connect-install-existing-database.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc, no-pr-activity

#1396 Spelling Fixes
  docs/identity/hybrid/connect/how-to-bypassdirsyncoverrides.md
  docs/identity/hybrid/connect/how-to-connect-health-adfs-risky-ip-workbook.md
  docs/identity/hybrid/connect/how-to-connect-install-existing-tenant.md
  docs/identity/hybrid/connect/how-to-connect-pta-quick-start.md
  docs/identity/hybrid/connect/how-to-connect-pta-user-privacy.md
  docs/identity/hybrid/connect/how-to-upgrade-previous-version.md
  docs/identity/hybrid/connect/reference-connect-adsynctools.md
  docs/identity/hybrid/connect/reference-connect-msexchuserholdpolicies.md
  docs/identity/hybrid/connect/reference-connect-user-privacy.md
  docs/identity/hybrid/connect/tshoot-connect-pass-through-authentication.md
  docs/identity/hybrid/connect/tshoot-connect-sync-errors.md
  docs/identity/managed-identities-azure-resources/how-to-assign-managed-identity-via-azure-policy.md
  docs/identity/managed-identities-azure-resources/includes/msi-tutorial-linux-vm-access-arm.md
  docs/identity/managed-identities-azure-resources/includes/qs-configure-cli-windows-vm.md
  docs/identity/managed-identities-azure-resources/includes/qs-configure-cli-windows-vmss.md
  docs/identity/managed-identities-azure-resources/includes/qs-configure-powershell-windows-vm.md
  docs/identity/managed-identities-azure-resources/includes/qs-configure-powershell-windows-vmss.md
  docs/identity/managed-identities-azure-resources/includes/qs-configure-template-windows-vm.md
Labels: aq-pr-triaged, do-not-merge, needs-human-review, Change sent to author, entra-id/svc, managed-identities/subsvc

#1255 Fix broken links to adfshelp.microsoft.com
  docs/identity/hybrid/connect/choose-ad-authn.md
  docs/identity/hybrid/connect/how-to-connect-health-ad-fs-sign-in.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc, no-pr-activity

#1424 update: images in globalprotect sso article show panos 10
  docs/identity/saas-apps/media/paloaltoglobalprotect-tutorial/tutorial_paloaltoadmin_admin1.png
  docs/identity/saas-apps/media/paloaltoglobalprotect-tutorial/tutorial_paloaltoadmin_admin2.png
  docs/identity/saas-apps/media/paloaltoglobalprotect-tutorial/tutorial_paloaltoadmin_admin3.png
Labels: aq-pr-triaged, do-not-merge, review-team-triage

#1507 Update ThirdPartyNotices.md per CELA request
  ThirdPartyNotices.md
Labels: do-not-merge, needs-human-review, review-team-triage

#1336 Update scopes-oidc.md
  docs/identity-platform/scopes-oidc.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, identity-platform/svc

#1513 Spelling and Markdown
  docs/identity/app-provisioning/application-provisioning-when-will-provisioning-finish-specific-user.md
  docs/identity/app-provisioning/define-conditional-rules-for-provisioning-user-accounts.md
  docs/identity/app-provisioning/hr-manager-update-issues.md
  docs/identity/app-provisioning/hr-user-update-issues.md
  docs/identity/app-provisioning/inbound-provisioning-api-powershell.md
  docs/identity/app-provisioning/on-premises-ldap-connector-linux.md
  docs/identity/app-provisioning/plan-auto-user-provisioning.md
  docs/identity/app-provisioning/plan-cloud-hr-provision.md
  docs/identity/app-provisioning/sap-successfactors-integration-reference.md
Labels: do-not-merge, Change sent to author, app-provisioning/subsvc, entra-id/svc

#1511 Spelling and Markdown
  docs/external-id/authentication-conditional-access.md
  docs/external-id/customers/toc.yml
  docs/external-id/customers/tutorial-configure-cloudflare-integration.md
  docs/external-id/tenant-restrictions-migration.md
  docs/external-id/tenant-restrictions-v2.md
  docs/fundamentals/licensing-groups-resolve-problems.md
  docs/fundamentals/users-default-permissions.md
  docs/fundamentals/whatis.md
  docs/fundamentals/whats-new-archive.md
  docs/global-secure-access/how-to-universal-tenant-restrictions.md
Labels: fundamentals/subsvc, do-not-merge, needs-human-review, Change sent to author, global-secure-access/svc

#1514 Spelling and Markdown
  docs/identity/app-proxy/application-proxy-add-on-premises-application.md
  docs/identity/app-proxy/application-proxy-configure-cookie-settings.md
  docs/identity/app-proxy/application-proxy-configure-native-client-application.md
  docs/identity/app-proxy/application-proxy-integrate-with-traffic-manager.md
  docs/identity/app-proxy/how-to-configure-custom-domain.md
  docs/identity/app-proxy/overview-what-is-app-proxy.md
  docs/identity/conditional-access/concept-continuous-access-evaluation-strict-enforcement.md
  docs/identity/conditional-access/concept-token-protection.md
  docs/identity/conditional-access/howto-continuous-access-evaluation-troubleshoot.md
  docs/identity/conditional-access/troubleshoot-conditional-access-what-if.md
Labels: conditional-access/subsvc, do-not-merge, Change sent to author, entra-id/svc

#1476 Update hr-attribute-retrieval-issues.md
  docs/identity/app-provisioning/hr-attribute-retrieval-issues.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, app-provisioning/subsvc, entra-id/svc

#1519 Spelling and Markdown
  docs/identity/hybrid/decommission-connect-sync-v1.md
  docs/identity/hybrid/group-writeback-cloud-sync.md
  docs/identity/hybrid/prerequisites.md
  docs/identity/managed-identities-azure-resources/how-manage-user-assigned-managed-identities.md
  docs/identity/managed-identities-azure-resources/how-to-use-vm-sdk.md
  docs/identity/managed-identities-azure-resources/how-to-use-vm-token.md
  docs/identity/managed-identities-azure-resources/includes/qs-configure-rest-vm.md
  docs/identity/managed-identities-azure-resources/managed-identities-status.md
  docs/identity/managed-identities-azure-resources/managed-identity-best-practice-recommendations.md
  docs/identity/monitoring-health/howto-analyze-provisioning-logs.md
  docs/identity/monitoring-health/tutorial-configure-log-analytics-workspace.md
  docs/identity/role-based-access-control/delegate-by-task.md
  docs/identity/role-based-access-control/m365-workload-docs.md
  docs/identity/role-based-access-control/permissions-reference.md
  docs/identity/role-based-access-control/protected-actions-overview.md
Labels: aq-pr-triaged, do-not-merge, needs-human-review, Change sent to author, entra-id/svc, role-based-access-control/subsvc

#1535 Update certificate-credentials.md
  docs/identity-platform/certificate-credentials.md
Labels: do-not-merge, Change sent to author, identity-platform/svc

#1530 Update concept-private-name-resolution.md
  docs/global-secure-access/concept-private-name-resolution.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author

#1537 Update governance-deployment-employee-lifecycle.md
  docs/architecture/governance-deployment-employee-lifecycle.md
Labels: ready-to-merge, Change sent to author, entra-id-governance/svc

#1516 Spelling and Markdown
  docs/identity/domain-services/administration-concepts.md
  docs/identity/domain-services/join-rhel-linux-vm.md
  docs/identity/domain-services/join-windows-vm.md
  docs/identity/domain-services/manage-dns.md
  docs/identity/domain-services/tutorial-create-instance-advanced.md
  docs/identity/enterprise-apps/datawiza-sso-mfa-to-owa.md
  docs/identity/enterprise-apps/datawiza-sso-oracle-jde.md
  docs/identity/enterprise-apps/datawiza-sso-oracle-peoplesoft.md
  docs/identity/enterprise-apps/f5-big-ip-kerberos-advanced.md
  docs/identity/enterprise-apps/migrate-adfs-apps-phases-overview.md
  docs/identity/enterprise-apps/migration-resources.md
  docs/identity/enterprise-apps/secure-hybrid-access-integrations.md
Labels: aq-pr-triaged, needs-human-review, ready-to-merge, Change sent to author, entra-id/svc, enterprise-apps/subsvc

#1515 Spelling and Markdown
  docs/identity/authentication/concept-authentication-external-method-provider.md
  docs/identity/authentication/concept-authentication-oath-tokens.md
  docs/identity/authentication/concept-authentication-qr-code.md
  docs/identity/authentication/concept-certificate-based-authentication-technical-deep-dive.md
  docs/identity/authentication/concept-fido2-hardware-vendor.md
  docs/identity/authentication/concept-mfa-licensing.md
  docs/identity/authentication/concept-sspr-deploy.md
  docs/identity/authentication/concept-sspr-policy.md
  docs/identity/authentication/how-to-authentication-qr-code.md
  docs/identity/authentication/how-to-migrate-mfa-server-to-mfa-with-federation.md
  docs/identity/authentication/howto-mfa-mfasettings.md
  docs/identity/authentication/howto-mfa-nps-extension-advanced.md
  docs/identity/authentication/troubleshoot-sspr-writeback.md
  docs/identity/authentication/tutorial-configure-custom-password-protection.md
  docs/identity/authentication/tutorial-enable-sspr-writeback.md
  docs/identity/devices/device-join-macos-platform-single-sign-on-kerberos-configuration.md
  docs/identity/devices/howto-vm-sign-in-azure-ad-linux.md
  docs/identity/devices/troubleshoot-mac-sso-extension-plugin.md
Labels: aq-pr-triaged, do-not-merge, needs-human-review, Change sent to author, devices/subsvc, entra-id/svc

#1355 Update concept-mandatory-multifactor-authentication.md
  docs/identity/authentication/concept-mandatory-multifactor-authentication.md
Labels: aq-pr-triaged, authentication/subsvc, do-not-merge, Change sent to author, entra-id/svc

#1443 Update tutorial-enable-sspr.md
  docs/identity/authentication/tutorial-enable-sspr.md
Labels: aq-pr-triaged, authentication/subsvc, ready-to-merge, Change sent to author, entra-id/svc

#1326 Update howto-authentication-passwordless-security-key-on-premises.md
  docs/identity/authentication/howto-authentication-passwordless-security-key-on-premises.md
Labels: aq-pr-triaged, authentication/subsvc, do-not-merge, Change sent to author, entra-id/svc

#1540 Update tutorial-native-authentication-prepare-android-app.md
  docs/identity-platform/tutorial-native-authentication-prepare-android-app.md
Labels: ready-to-merge, Change sent to author, entra-external-id/svc, external/subsvc

#1542 Update governance-deployment-employee-lifecycle.md
  docs/architecture/governance-deployment-employee-lifecycle.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-id-governance/svc
