Repository MicrosoftDocs/entra-docs, pull requests merged in 2025-09, with the labels that each got.

#1744 Fix URL formatting in custom domain documentation
  docs/identity/app-proxy/how-to-configure-custom-domain.md
Labels: do-not-merge, Change sent to author, app-proxy/subsvc, entra-id/svc

#1745 Add deep analysis section to agent optimization doc
  docs/identity/conditional-access/agent-optimization.md
Labels: aq-pr-triaged, conditional-access/subsvc, do-not-merge, Change sent to author, entra-id/svc

#1757 Fix secure storage message
  docs/identity-platform/apple-sso-plugin.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, identity-platform/svc

#1766 Remove preview tag
  docs/identity/conditional-access/agent-optimization-review-suggestions.md
Labels: aq-pr-triaged, conditional-access/subsvc, ready-to-merge, Change sent to author, entra-id/svc

#1646 Update amazon-business-provisioning-tutorial
  docs/identity/saas-apps/amazon-business-provisioning-tutorial.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1630 Update howto-authentication-temporary-access-pass.md
  docs/identity/authentication/howto-authentication-temporary-access-pass.md
Labels: aq-pr-triaged, authentication/subsvc, do-not-merge, Change sent to author, entra-id/svc, no-pr-activity

#1755 Improve clarity for disabling SSPR for admins
  docs/identity/authentication/concept-sspr-policy.md
Labels: aq-pr-triaged, authentication/subsvc, do-not-merge, Change sent to author, entra-id/svc

#1759 Update how-to-unlock-users-for-mandatory-multifactor-authentication.md
  docs/identity/authentication/how-to-unlock-users-for-mandatory-multifactor-authentication.md
Labels: aq-pr-triaged, authentication/subsvc, do-not-merge, Change sent to author, entra-id/svc

#1531 remove 'roles' attribute mapping in BIC Cloud Design provisioning guide
  docs/identity/saas-apps/bic-cloud-design-provisioning-tutorial.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, entra-id/svc, saas-apps/subsvc
