Repository MicrosoftDocs/entra-docs, pull requests merged in 2025-06, with the labels that each got.

#1601 Update how-to-connect-health-agent-install.md
  docs/identity/hybrid/connect/how-to-connect-health-agent-install.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#1610 Update how-to-manage-user-profile-info.yml
  docs/fundamentals/how-to-manage-user-profile-info.yml
Labels: aq-pr-triaged, fundamentals/subsvc, do-not-merge, needs-human-review, Change sent to author, entra/svc

#1414 Update reference-connect-user-privacy.md
  docs/identity/hybrid/connect/reference-connect-user-privacy.md
Labels: aq-pr-triaged, needs-human-review, ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#1624 Update data-residency.md
  docs/fundamentals/data-residency.md
Labels: aq-pr-triaged, fundamentals/subsvc, do-not-merge, Change sent to author, entra/svc

#1616 Update github-enterprise-managed-user-tutorial.md
  docs/identity/saas-apps/github-enterprise-managed-user-tutorial.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1617 Update github-enterprise-managed-user-ghe-com-tutorial.md
  docs/identity/saas-apps/github-enterprise-managed-user-ghe-com-tutorial.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1613 Update fileorbis-tutorial.md
  docs/identity/saas-apps/fileorbis-tutorial.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1600 Update acronis-cyber-protect-cloud-tutorial.md
  docs/identity/saas-apps/acronis-cyber-protect-cloud-tutorial.md
Labels: aq-pr-triaged, do-not-merge, needs-human-review, Change sent to author, entra-id/svc, saas-apps/subsvc

#1626 Update multi-tenant-organization-known-issues.md
  docs/identity/multi-tenant-organizations/multi-tenant-organization-known-issues.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-id/svc, multitenant-organizations/subsvc

#1628 Update how-to-configure-global-access-with-pim.md
  docs/global-secure-access/how-to-configure-global-access-with-pim.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, app-proxy/subsvc, entra-id/svc

#1363 Update users-reset-password-azure-portal.yml
  docs/fundamentals/users-reset-password-azure-portal.yml
Labels: aq-pr-triaged, fundamentals/subsvc, needs-human-review, ready-to-merge, Change sent to author, entra/svc

#1631 Update confluencemicrosoft-tutorial.md
  docs/identity/saas-apps/confluencemicrosoft-tutorial.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1553 Update how-to-connect-fed-group-claims.md
  docs/identity/hybrid/connect/how-to-connect-fed-group-claims.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc

#1640 Add timeout and retry limits for custom auth extensions to reference-service-limits.md
  docs/external-id/customers/reference-service-limits.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, entra-external-id/svc, external/subsvc
