Repository MicrosoftDocs/entra-docs, pull requests merged in 2025-02, with the labels that each got.

#1343 Update single-and-multi-tenant-apps.md
  docs/identity-platform/single-and-multi-tenant-apps.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, identity-platform/svc

#1345 docs: 📄 correct info on managed identity flexible federation
  docs/workload-id/workload-identities-set-up-flexible-federated-identity-credential.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-workload-id/svc

#1229 Update migrate-from-federation-to-cloud-authentication.md
  docs/identity/hybrid/connect/migrate-from-federation-to-cloud-authentication.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, hybrid-connect/subsvc, no-pr-activity

#1221 Update msal-acquire-cache-tokens.md
  docs/identity-platform/msal-acquire-cache-tokens.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, identity-platform/svc

#1353 Update for Access Review's history reports documentation
  docs/id-governance/access-reviews-downloadable-review-history.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id-governance/svc, access-reviews/subsvc

#1347 Update v2-oauth-ropc.md
  docs/identity-platform/v2-oauth-ropc.md
Labels: aq-pr-triaged, do-not-merge, needs-human-review, Change sent to author, identity-platform/svc

#1352 Update amazon-web-service-tutorial.md
  docs/identity/saas-apps/amazon-web-service-tutorial.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1264 Update github-enterprise-managed-user-tutorial.md
  docs/identity/saas-apps/github-enterprise-managed-user-tutorial.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1358 Typo: Changed eXtemsible to eXtensible
  docs/identity/app-proxy/application-proxy-understand-cors-issues.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, app-proxy/subsvc, entra-id/svc

#1362 fix: globalprotect sso article mentions bugcrowd
  docs/identity/saas-apps/palo-alto-networks-globalprotect-tutorial.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1323 Spelling Fixes and Markdown
  docs/architecture/1-secure-access-posture.md
  docs/architecture/b2c-deployment-plans.md
  docs/architecture/deployment-plans.md
  docs/architecture/permissions-manage-ops-guide-alerts.md
  docs/architecture/permissions-manage-ops-guide-three.md
  docs/architecture/resilience-in-credentials.md
  docs/architecture/security-operations-consumer-accounts.md
  docs/architecture/security-operations-infrastructure.md
  docs/architecture/security-operations-privileged-accounts.md
  docs/architecture/security-operations-user-accounts.md
  docs/architecture/service-accounts-group-managed.md
  docs/architecture/service-accounts-managed-identities.md
  docs/architecture/service-accounts-on-premises.md
  docs/architecture/service-accounts-principal.md
Labels: aq-pr-triaged, needs-human-review, ready-to-merge, Change sent to author, entra/svc, architecture/subsvc

#1270 Update howto-sspr-customization.md
  docs/identity/authentication/howto-sspr-customization.md
Labels: aq-pr-triaged, authentication/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc

#1327 Use normal double-quotes instead of curly ones
  docs/identity/domain-services/secure-your-domain.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, domain-services/subsvc, entra-id/svc

#1268 Update howto-mfa-nps-extension.md
  docs/identity/authentication/howto-mfa-nps-extension.md
Labels: aq-pr-triaged, authentication/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc

#1371 Update workload-identity-federation-considerations.md
  docs/workload-id/workload-identity-federation-considerations.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-workload-id/svc

#1377 Update powershell-get-token.md
  docs/global-secure-access/scripts/powershell-get-token.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, global-secure-access/svc

#1364 Update adobe-identity-management-tutorial.md
  docs/identity/saas-apps/adobe-identity-management-tutorial.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1324 Update scopes-oidc.md
  docs/identity-platform/scopes-oidc.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, identity-platform/svc

#1382 Corrected service name
  docs/external-id/customers/faq-customers.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-external-id/svc, external/subsvc

#1383 Update datacamp-tutorial.md
  docs/identity/saas-apps/datacamp-tutorial.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1384 Atlassian Cloud SSO Mistype
  docs/identity/saas-apps/atlassian-cloud-tutorial.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1385 Update backup-authentication-system.md
  docs/architecture/backup-authentication-system.md
Labels: aq-pr-triaged, triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra/svc, architecture/subsvc

#1302 Update concept-conditional-access-grant.md
  docs/identity/conditional-access/concept-conditional-access-grant.md
Labels: aq-pr-triaged, triaged, conditional-access/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc

#1243 Note to clarify Conditional Access behavior with Require app protection policy grant control
  docs/identity/conditional-access/policy-all-users-windows-app-protection.md
Labels: aq-pr-triaged, triaged, conditional-access/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc

#1190 Update enterprise-state-roaming-troubleshooting.md
  docs/identity/devices/enterprise-state-roaming-troubleshooting.md
Labels: aq-pr-triaged, triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, devices/subsvc, entra-id/svc

#737 All "Directory Synchronization Accounts" role assignees are excluded from security defaults
  docs/fundamentals/security-defaults.md
Labels: aq-pr-triaged, fundamentals/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra/svc

#610 Update howto-vm-sign-in-azure-ad-windows.md
  docs/identity/devices/howto-vm-sign-in-azure-ad-windows.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, devices/subsvc, entra-id/svc, no-pr-activity

#1239 Update deployment-scenario-internet-access.md
  docs/architecture/deployment-scenario-internet-access.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra/svc, architecture/subsvc, no-pr-activity

#1386 Update grant-consent-single-user.md
  docs/identity/enterprise-apps/grant-consent-single-user.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, enterprise-apps/subsvc

#1388 fix(docs): Fixed payload examples formatting
  docs/identity/app-provisioning/customize-application-attributes.md
Labels: aq-pr-triaged, do-not-merge, needs-human-review, Change sent to author, app-provisioning/subsvc, entra-id/svc
