Repository MicrosoftDocs/entra-docs, pull requests merged in 2025-01, with the labels that each got.

#1247 beatrust saml setup metadata instructions, update beatrust-tutorial.md
  docs/identity/saas-apps/beatrust-tutorial.md
  docs/identity/saas-apps/common/app-federation-metadata-url.png
Labels: aq-pr-triaged, needs-human-review, ready-to-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1300 Update how-to-authentication-external-method-manage.md
  docs/identity/authentication/how-to-authentication-external-method-manage.md
Labels: aq-pr-triaged, authentication/subsvc, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc

#1202 Update Taskize Connect tutorial doc to reflect change of Reply URL
  docs/identity/saas-apps/taskize-connect-tutorial.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1260 Update pim-approval-workflow.md
  docs/id-governance/privileged-identity-management/pim-approval-workflow.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id-governance/svc, privileged-identity-management/subsvc

#1304 Changed content for revoking a request
  docs/id-governance/entitlement-management-request-approve.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-id-governance/svc, entitlement-management/subsvc

#1309 Update single-sign-on-saml-protocol.md
  docs/identity-platform/single-sign-on-saml-protocol.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, identity-platform/svc

#1308 Update b2b-direct-connect-overview.md
  docs/external-id/b2b-direct-connect-overview.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-external-id/svc

#1313 Changed Entra admin center link to Azure portal link
  docs/workload-id/workload-identity-federation-create-trust-user-assigned-managed-identity.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra-workload-id/svc

#1318 Update tutorial-mobile-app-maui-sign-in-prepare-app.md | Pointing Latest .NET SDK instead of .NET 7 and removing reference to Visual studio setup for Mac since no longer supported
  docs/external-id/customers/tutorial-mobile-app-maui-sign-in-prepare-app.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-external-id/svc, external/subsvc

#1197 Update reference-microsoft-graph-app-manifest.md
  docs/identity-platform/reference-microsoft-graph-app-manifest.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, identity-platform/svc

#1335 Update security-defaults.md
  docs/fundamentals/security-defaults.md
Labels: fundamentals/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra/svc

#1337 Update quickstart-configure-app-access-web-apis.md
  docs/identity-platform/quickstart-configure-app-access-web-apis.md
Labels: aq-pr-triaged, qualifies-for-auto-merge, ready-to-merge, Change sent to author, identity-platform/svc

#1334 Update RocketReach SSO documentation
  docs/identity/saas-apps/rocketreach-sso-tutorial.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, entra-id/svc, saas-apps/subsvc

#1340 Update correct data storage location in data-residency.md
  docs/fundamentals/data-residency.md
Labels: aq-pr-triaged, fundamentals/subsvc, qualifies-for-auto-merge, ready-to-merge, Change sent to author, entra/svc
